// import variables
	@import "variables/normalize";
	@import "variables/variables";	
	@import "variables/mixins";
	@import "variables/functions";
    @import "variables/typography";

// import modules
	@import "modules/buttons";
	@import "modules/forms";
	@import "modules/alerts";
	@import "modules/cards";

// breakpoints

// styles in base.scss
@import "breakpoints/base";

/*********************
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet. Let's call them
tweeners.
*********************/
@media only screen and (min-width: 576px) {
    // styles in 576.scss test
    @import "breakpoints/576"; 
}

// end of media query


/*********************
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device. Here's where
you can add resource intensive styles.
*********************/
@media only screen and (min-width: 768px) {
    // styles in 768.scss
    @import "breakpoints/768";
}

// end of media query



/*********************
TWEENER
This targets some trickier 'tweener' devices like large
tablets. You probably won't need to add too much to this stylesheet.
If you're not using it, delete it.
*********************/

@media only screen and (min-width: 992px) {
    // styles in 992.scss
    @import "breakpoints/992";
}

// end of media query

/*********************
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*********************/
@media only screen and (min-width: 1260px) {
    // styles in 1260.scss
    @import "breakpoints/1260";
}

// end of media query

/*********************
XXL 
This is for super ginormous monitors like your one friend has.
*********************/
@media only screen and (min-width: 1500px) {
    // styles in 1500.scss
    @import "breakpoints/1500";
}

// end of media query

/*********************
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*********************/
@media print {
    // styles in print.scss
    @import "breakpoints/print";
}