/*****************
    INITS
***********************************************/
    html {
        font-family: $font-primary;
    }


    body {
        font-family: $font-primary;
        width: 100%;
        color: $color-base-text;
        font-size: 17px;
        background: $color-background-primary;
        margin: 0;
        font-weight:400;
    }

/*****************
    CONTAINER AND COMMON DIVS
***********************************************/
    #container {
      width: 100%;
      min-height: 600px;
      position:relative;
    }

    .clearfix {
      clear: both;
    }

    .centering_box,
    .notfound404,
    .search-results {
      .pageinfo {
        width: 100%;
        max-width: $max-centering;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .centering_box {
      &.extended_centering {
        max-width: inherit;
        width: 95%;
      }
    }

    .onepage {
      clear: both;
      position: relative;
      padding-top: 1em;
    }

    .copy .text {
      max-width: $max-centering;
    }

    .copy .text p,
    .copy .text h1,
    .copy .text h2,
    .copy .text h3,
    .copy .text h4,
    .copy .text h5,
    .copy .text h6,
    .copy .text blockquote,
    .pageinfo,
    .modheader,
    .module_inner,
    .mp_wrapper,
    .nf-form-wrap { /* this is here due to client request for 'full bleed' images within content flow */
      max-width: $legible-max-width;
      margin-left:auto;
      margin-right: auto;
    }

    .module-heroimage .module_inner,
    .text .mp_wrapper p,
    .mp_wrapper .mp_wrapper {
      max-width: 100%
    }

    .copy .text img.size-full.aligncenter {
      margin-left: -2.5%;
      margin-right: -2.5%;
      display: block;
      width: 106%;
      max-width: none;
      margin-top: 2em;
      margin-bottom: 2em;
    }


    .dismissable,
    .expandable {
      display: none;
    }

    .mobile_only {
      display: none;
    }

    .mobile_expansion+label {
      font-size: 2.4em;
      color: $color-primary;
      cursor: pointer;
      content: "";
      display: inline-block;
      width: 32px;
      height: 27px;
      margin-top: .2em;
      border-top: 16px double;
      border-bottom: 5px solid;
      -webkit-transition: all .5s ease-in-out;
      transition: all .5s ease-in-out;
    }

    .menu_nav input[type="checkbox"] {
      width: 0;
    }

    .desktop_only {
      display: block;
    }

/*****************
    COMMON DIV DECORATION (buttons and nav)
***********************************************/
    svg {
      height: inherit;
    }

    .shadow_module {
      box-shadow: $drop-shadow-module;
    }

    .round_module,
    .btn,
    .button button {
      @extend %btn-grad-1;
    }

    // .round_module:hover,
    // .btn:hover,
    // button:hover,
    // .button:hover {
    // -webkit-transition: all 0.2s ease-in-out;
    // cursor: pointer;
    // color: #333;
    // border: 1px solid #333;
    // }

    // .round_module:active,
    // .btn:active,
    // button:active,
    // .button:active {
    //     box-shadow: $drop-shadow-button-press;
    //     opacity: .8;
    //     filter: alpha(opacity=80);
    //     -webkit-transition: $transition-default;
    //     transition: $transition-default;
    // }

    // .btn.disabled,
    // .btn[disabled],
    // fieldset[disabled] .btn {
    //     cursor: not-allowed;
    //     filter: alpha(opacity=65);
    //     box-shadow: none;
    //     opacity: .65;
    // }

    .socialmedia a:hover,
    .visualized_icon:hover,
    a[class^="icon-"]:hover {
      text-decoration: none;
    }

/*****************
    ALERTS and MESSAGES
***********************************************/

    .socialink-alert {
      background: tomato;
      padding: .25em;
      color: #fff;
    }

    .mepr-unauthorized-message {
      margin: 2em 0;
    }

    .mp_wrapper textarea,
    .mp_wrapper select,
    .mp_wrapper input[type="text"],
    .mp_wrapper input[type="url"],
    .mp_wrapper input[type="email"],
    .mp_wrapper input[type="tel"],
    .mp_wrapper input[type="number"],
    .mp_wrapper input[type="password"] {
      border: 1px solid #009dff;
    }

/*****************
    EXPANDERS
***********************************************/

    .expander_section {

      header a:after {
        content: ' +';
      }

      header a:hover {
        color: inherit;
      }

      header a.activated:after {
        content: ' -';
      }
    }

/*****************
    COMMON MARKUP
***********************************************/
    img {
      max-width: 100%;
      height: auto;
    }

    a {
      text-decoration: none;
      color: inherit;
    }

    .text {
      a {
        text-decoration: none;
        color: $color-primary;

        &.button {
          color:#fff;
        }
      }
    }

    a:hover {
        text-decoration: underline;
        color: $color-secondary;
        -webkit-transition: $transition-default;
        transition: $transition-default;
    }

    ul {
        margin-left: 0;
        padding-left: 0;
    }

    ul,
    ol {
        padding-left: 0;
        margin: 0;
    }

    ol li {
        padding-left: 0;
        list-style-type: decimal;
        margin-left: 1em;
    }

    ul li {
        list-style: disc;
        margin-left: 1.75em;
    }

    ul li:first-child {
        // margin-left:0;
    }

    ul li ul li {
        list-style: circle;
    }

    ul li ul li ul li {
        list-style: square;
    }

    .topmenu ul li {
         font-family: $font-secondary;
    }

/*****************
    Blockquote
***********************************************/
    blockquote {
    font-family: $sans-ital;
    background-color: #f3f3f3;
    padding: 1rem;
    width: 100%;
    max-width: 745px;
    margin: 0 auto;
    border-radius: 0 2rem 0 2rem;
    }
    blockquote:before,
    blockquote:after {
        font-family: $font-secondary;
        font-size: 4rem;
        color:#ff15d8;
        position: absolute;
        font-style: italic;
    }
    blockquote:before {
        content: "\201C";
        // top: 0;
        left: -25px;
        top: -20px;

    }
    blockquote:after {
        content: "\201D";
        // bottom: 0;
        right: -5px;
    }

/*****************
    text styles
***********************************************/
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin-top: 0;
        margin-bottom: .6em;

        font-family: $font-secondary;
    }

    h1 {
        font-size: 3.2em;
        color: $blackLt;
    }

    h2 {
        font-size: 1.7em;
        color: $color-primary;
        font-family:$font-secondary;
    }

    .fancyfont {
        font-family:$font-secondary;
    }

    .subtitle h2 {
        font-size: 1em;
        color: $color-secondary;
    }

    h3 {
        font-size: 1.7em;
        margin-bottom: 1em;
    }

    h4 {
        margin-bottom: 1em;
    }

    h5 {
        margin-bottom: 1em;
        font-size: .85em;
        color: $color-secondary;
    }

    .copy h1 + h5 {
        margin-top: -2.5em;
        margin-bottom: .2em;
    }

    .copy h3 + h4 {
        // margin-top: -.6em;
        // margin-bottom: 2em;
    }

    p {
        font-size: 1em;
        margin-bottom: 1.5em;
        margin-top: 0;
        line-height: 1.5em;
        margin-top: 0;
    }

/*****************
    Forms
***********************************************/
    input {
        padding: .5em;
        border-bottom: 1px solid #bfbfbf;
        font-family: $font-primary;
        border: none;
        border-bottom: $border-thin;
    }

    input:active,
    input:focus {
        border-bottom: $border-thick;
        outline: none;
    }

    input:required {
        border-bottom: $border-emphasis;
    }

    input.short {
        max-width: 50px;
    }

    input.medium {
        max-width: 100px;
    }

    input[type="search"] {
        border: none;
        background: $color-primary;
        color: #fff;
    }

    input[type="submit"],
    input[type="button"] button.submit,
    .button.submit {
        border-radius: $round-corners;
    }

    input[type="submit"]:hover,
    button.submit:hover,
    .button.submit:hover {
        cursor: pointer;
    }

    input[type="radio"],
    input[type="checkbox"] {
        display: inline;
        margin-right: .2em;
        line-height: 1;
    }

    input[type="file"] {
        display: block;
    }

    input[type="range"] {
        display: block;
        width: 100%;
    }

    select[multiple],
    select[size] {
        height: auto;
    }

    input[type="file"]:focus,
    input[type="radio"]:focus,
    input[type="checkbox"]:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

    output {
        display: block;
        padding-top: 7px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
    }

    input[type="radio"][disabled],
    input[type="checkbox"][disabled],
    input[type="radio"].disabled,
    input[type="checkbox"].disabled,
    fieldset[disabled] input[type="radio"],
    fieldset[disabled] input[type="checkbox"] {
        cursor: not-allowed;
    }

    .radio-inline.disabled,
    .checkbox-inline.disabled,
    fieldset[disabled] .radio-inline,
    fieldset[disabled] .checkbox-inline {
        cursor: not-allowed;
    }

    .radio.disabled label,
    .checkbox.disabled label,
    fieldset[disabled] .radio label,
    fieldset[disabled] .checkbox label {
        cursor: not-allowed;
    }

    textarea {
        border: $border-thin;
        width: 100%;
        
        padding: .5em;
    }

    textarea:active,
    textarea:focus {
        border: $border-thick;
        outline: 0;
    }

    label {
        display: block;
        font-size: .8em;
        color: inherit;
        margin-bottom: .2em;
    }

    label.required {
        color: $color-primary;
    }

    address {
        padding-left: 1em;
        border-left: 1px solid $color-primary;
        margin-bottom: 1em;
    }

    mark {
        background: #EBF3E6;
        padding: 0 .25em;
    }

/*****************
    Tables
***********************************************/
    table {
        background-color: transparent;
    }

    .sink_icon {
        width: 20px;
        display: inline-block;
    }

    .sink_icon svg {
        width: 100%;
    }

    .sink_img {
        width: 100px;
        display: inline-block;
    }

    .sink_img svg {
        width: 100%;
    }

    caption {
        padding-top: 8px;
        padding-bottom: 8px;
        color: #777;
        text-align: left;
    }

    th {
        text-align: left;
    }

    fieldset {
        min-width: 0;
        padding: 0;
        margin: 0;
        border: 0;
    }

    legend {
        display: block;
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        font-size: 21px;
        line-height: inherit;
        color: #333;
        border: 0;
        border-bottom: 1px solid #e5e5e5;
    }

    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

    .table > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid #ddd;
    }

    .table > caption + thead > tr:first-child > th,
    .table > colgroup + thead > tr:first-child > th,
    .table > thead:first-child > tr:first-child > th,
    .table > caption + thead > tr:first-child > td,
    .table > colgroup + thead > tr:first-child > td,
    .table > thead:first-child > tr:first-child > td {
        border-top: 0;
    }

    .table > tbody + tbody {
        border-top: 2px solid #ddd;
    }

    .table .table {
        background-color: #fff;
    }

    table col[class*="col-"] {
        position: static;
        display: table-column;
        float: none;
    }

    table td[class*="col-"],
    table th[class*="col-"] {
        position: static;
        display: table-cell;
        float: none;
    }

/*****************
    Alerts
***********************************************/
    .alert-success {
        background: lighten( $color-success, 40%);
        color: $color-success;
        border-color: lighten( $color-success, 20%);
    }

    .alert-warning {
        background: lighten( $color-warning, 40%);
        color: $color-warning;
        border-color: lighten( $color-warning, 20%);
    }

    .alert-error {
        background: lighten( $color-error, 40%);
        color: $color-error;
        border-color: lighten( $color-error, 20%);
    }

    .alert-info {
        background: lighten( $color-message, 40%);
        color: $color-message;
        border-color: lighten( $color-message, 20%);
    }

/*****************
    SEARCHBAR
***********************************************/
    a.headersearch {
        color: $color-primary;
        display: inline-block;
    }

    a.headersearch svg {
        fill: $color-primary;
    }

    a.headersearch:hover,
    a.headersearch.expanded {
        color: $color-secondary;
        text-decoration: none;
    }

    a.headersearch:hover svg,
    a.headersearch.expanded svg {
        fill: $color-secondary;
    }

    .search_container {
        background: $color-primary none repeat scroll 0 0;
        display: none;
        position: relative;
        left: 0;
        padding: 1em;
        /* position: absolute; */
        top: 0;
        width: 100%;
        z-index: 10000;
        margin-bottom: 1em;
    }

    .search_container form {
        width: 90%;
    }

    .search_container .flexible {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .cancel_search {
        color: $search-primary-color;
    }

    .cancel_search:before {
        content: '×';
        display: block;
        font-size: 1.5em;
    }

    .search_container .search_input {
        background: $color-primary;
        color: $search-primary-color;
        font-size: 1.3em;
        text-transform: uppercase;
        width: inherit;
        border: 0;
        font-family: $font-secondary;
    }

/*****************
    BASIC INPUT AND FORMS
***********************************************/

    .mejs-controls {
      display: none !important;
      visibility: hidden !important;
      }

      .mejs-container {
        background: #fff !important;
      }

    .learndash-wrapper .ld-item-list .ld-item-list-item .ld-item-details .ld-certificate-link,
    .learndash-wrapper .ld-progress .ld-progress-heading .ld-progress-stats .ld-progress-percentage {
        color: #5330F8;
    }


    .ld-course-list-items .ld_course_grid .thumbnail.course.socialink-courses-modified.learndash-incomplete .ld_course_grid_price,
    .learndash-wrapper.learndash-widget .ld-progress .ld-progress-bar,
    .learndash-wrapper .ld-progress .ld-progress-bar .ld-progress-bar-percentage,
    .ld-progress-bar-percentage,
    .wpcf7 input[type=submit],
    input[type=submit],
    .button,
    .gradient-default {
        @include css-gradient($color-stop-1,$color-stop-4);
    }

    .mainheader.gradient-default {
        background: linear-gradient(90deg, #9ef3c7 0%, #004bff 100%);
    }

    #mepr-price-box-81,
    .gradient-divided-1 {
        background: rgb(248,112,251);
        background: linear-gradient(90deg, rgb(250, 17, 255) 0%, rgb(145, 59, 255) 100%);
    }

    #mepr-price-box-62,
    .gradient-divided-2 {
      background: rgb(145, 59, 255);
        background: linear-gradient(90deg, rgb(145, 59, 255) 0%, rgb(104, 0, 255) 100%);
    }

    .gradient-divided-3 {
      background: rgb(69,152,208);

    background: linear-gradient(90deg, rgb(104, 0, 255) 20%, rgba(0,75,255,1) 100%);
    }

    input[type=text] {
        padding: .5em;
    }

    .ld-button,
    .wpcf7 input[type=submit],
    input[type=submit],
    .button {
        border: 0 none;
        color: #fff;
        display: inline-block;
        padding: 0.5em 1.75em;
        border-radius: 40px;
        font-family: $font-secondary;
    }

    input[type=submit]:hover,
    .button:hover {
        color: #fff;
        text-decoration: none;
        border: none;
        box-shadow: 0 0 10px 2px #04040466;
    }

    input[type=submit]:active,
    .button:active {
        box-shadow: inset 0 0 1px #222;
        outline: 0;
    }

    input[type=submit]:focus,
    .button:focus {
        outline: 0;
    }

    .topmenu .search_indicator {
        display: none;
    }

    .text blockquote {
        margin-top: 2em;
    }

    blockquote .button {
        font-style: normal;
        color: #fff;
        font-size: .65em;
    }

    .ld-course-list-items.row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
        max-width: 95%;
        margin: auto;
    }

    .learndash-wrapper .ld-item-list {
        max-width: 95%;
        margin: auto;
    }

    .ld-course-list-items .ld_course_grid .thumbnail.course img {
        max-height: 200px;
    }

    .learndash-wrapper .ld-alert {
            max-width: 95%;
        margin: auto;
        margin-bottom: 2em;
    }

    .learndash-wrapper .ld-alert-success {

        border-color: #fff;
        background-color: #9ef3c7;
    }

    .ld-item-title,
    .ld-topic-title {
        font-family: $font-secondary;
        color: #000;
    }

    .learndash-wrapper .ld-table-list a.ld-table-list-item-preview:hover {
        color: #004bff;
    }

    .learndash-wrapper .ld-expand-button:hover {
        background-color: #000;
    }

    #wpua-images-existing {
      max-width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

/*****************
    NAV MENU MARKUP
***********************************************/

    .menu_horizontal li {
        display: inline-block;
        list-style: none;
    }

/*****************
    HEADER
***********************************************/

    #header {
    width: 100%;
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 400;
    background: #9ef3c7;
    }

    .logged-in.admin-bar #header {
        top: 28px;
    }

    .desktop_only.header_inner {
        align-items: inherit;
        height: 84px;
    }

    .logo {
        -webkit-transition: all .1s ease-in-out;
        transition: all .1s ease-in-out;
        width: 100%;
        max-width: 250px;
    }


    .socialink-scrolling .logo {
        width: 100px;
        transition: all .052s ease;
        margin-top: 10px
    }

    .home .logo {
     /*    margin-top: -300px; */
    }

    .home #header {
        border-bottom: 0;
    }

    .home.socialink-scrolling .logo {

    /*     margin-top: unset; */
        float: left;
    }

    .home.socialink-scrolling #header {

    }

    .logo .sink_img,
    .logo img {
        width: 100%;
        /* for ie */
    }

    .topmenu {
        margin-left: auto;
         margin-top: 32px;
    }

    .socialink-scrolling .topmenu {

    }

    .topmenu ul {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    .topmenu li {
        margin-right: 1em;
    }

    .topmenu li:after {}

    .topmenu li.last_item {
        margin-right: 0;
    }

    .topmenu li a {
        color: $blackLt;
        padding: 0.25rem 0.25rem;

    }

    .topmenu li[class*="current"] a,
    .topmenu li:hover a {
        text-decoration: none;
    }

    ul.menu-logged-out {
        display: flex;
        align-items: center;
        margin-top: -57px;
    }

    ul.menu-logged-out li {
        font-family: $font-secondary;
        margin: 0;
    }

    ul.menu-logged-out li:first-child {
        margin-right: 1em;
    }

    .socialmedia {}

    .socialmedia a {}

    .wp-video {
        margin: auto;
    }

/*****************
    User Header
***********************************************/

    .userfunctions-header {
      width: auto;
      margin-left: 2em;

    }

    .logged-in-user-0 .userfunctions-header  {
        margin-top: 84px;
    }

    .userfunctions-header .inner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .userheader_overview {
        background: #fff685;
        padding: 1em;
        cursor: pointer;
        font-size: .7em;

        text-transform: lowercase;
        display: inline-block;
    }

    .userheader_more {
        min-width: 175px;
    }

    .socialink-scrolling .userheader_overview,
    .userheader_overview:not(.home .userheader_overview) {
      
    }

    .userheader_overview span {
        display: block;
    }

    .userheader_overview .username {
        color: #000;
        text-decoration: underline;
    }

    .userheader_more {
    display: none;
    background: #EFF9F9;
    padding: 1em;
    font-size: .8em;
    font-family: $font-secondary;
    width: 100%;
    position: absolute;
    z-index: 50;
    top: 0;
    width: 200%;
    top: 58px;
    }

    .mindup-userfunctions.opened .userheader_more {
        display: block;
    }

    .userheader_more ul {
        margin: 0;
    }


    .userheader_more ul li {
        margin-left: 0;
        margin-bottom: .45em;
        display: block;
    }

    .userheader_more p {
        margin-bottom: 0;
    }

    .userheader_more ul li a {
        text-decoration: none;
    }

    .userheader_more ul li a:hover {
        border-bottom: 1px solid #009dff;
    }

/*****************
    BACKGROUNDS
***********************************************/
    .header-image-text {
        margin-bottom: 0;
        top: 84px;
        position: relative;
        /* background-image: url(#{$imgs-path}bg_hero_split.png); */
        background-size: contain;
        background-repeat: no-repeat;
        padding: 1em;
    }


    .header-image-text>.centering_box {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }

    .header-image-text-inner .col {
        width: 45%;
        
    }

    .header-image-text-inner .left {
            margin-right: 3%;
        font-size: 1.25em;
        padding-top: 2em;
    }

    .header-image-text-inner .textcol a.button {}

    .header-image-text-inner h2 {
    /*     background-image: url(#{$imgs-path}rule_blocktitle.svg); */
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        text-align: inherit;
        color: #000;
        font-size: 1.5em;
    }

    .herospot {
        background-position: bottom right; /*Changed from center center*/
        background-repeat: no-repeat;  /*added*/
        background-size: contain;  /*Changed from cover*/
        height: 400px;
        height: calc(50vw / 2);  /*Changed from calc(100vw / 2) */
        overflow: hidden;
        position: relative;
        width: 100%;
        top: 80px;
    }

    .herospot + .onepage .pageinfo {
    /*     margin-top: 2em; */
    }

    body.home .herospot {
        height: calc(100vw / 2);
        background-position: center center; /*added*/
        background-size: cover;  /*added*/
    }

    body.home .herospot.hero-embed {
        height: calc(100vw / 2.2); 
        background-position: center center;  /*added*/
        background-size: cover;  /*added*/
    }

    body.home .herospot.hero-embed p {
        text-align: center;
    }



    .hero_caption {
    position: absolute;
    width: 100%;
    bottom: 1%;
    display: flex;
    justify-content: center;
    padding: 1em;
    }

    .hero-button a {
        padding: 1.25em 3em;
    }
    .hero-buttons {
        position: absolute;
        width: 100%;
        bottom: 5%;
        display: flex;
        justify-content: center;
        padding: 1em;
        flex-direction: column;
        align-items: center;
    }

    .hero-buttons > div {
        margin-bottom: 1em;
    }


    .herospot.contained {
        /* use this instead of height if the image is not full bleed; where the first number is the image height and the second number is the image width */
        /* padding-top: calc((460 / 1040) * 100%);*/
    }

    .herospot.semantic:before {
        background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .herospot.semantic>div,
    .herospot.semantic>article,
    .herospot.semantic>section {
        position: relative;
    }

    .slideinner {
        font-size: 0.9rem; /*Changed from 1.2em*/
    }


    .slides li {
        margin: 0;
        list-style: none
    }

    .slideshow_area {
        margin-top: -84px;
        margin-bottom: 3em;
        height: calc(100vw / 3);
    }

    .slidecaption {
        bottom: 5px;
        position: absolute;
        left: 5px;
        font-size: .5em;
        background: #fff;
            background-image: none;
        background-image: none;
        padding: 5px;

    }



    .slideshow_area div.slide {
        background-position: center center;
        background-size: cover;
        height: calc(100vw / 3);
        width: 100%;
        position: relative;
        overflow-x:  hidden;
    }

        .subfooter .slideshow_area div.slide,
        .subfooter .slideshow_area {
            height: calc(100vw / 5)
        }

    #header .slideshow_area {
        position: absolute;
        top: 0;
        height: 600px;
        left: 0;
        max-height: 600px;
    }

    #header .slideshow_area div.slide {
        max-height: 600px;
        height: 600px;
    }


    .slide_nav {
        color: #fff;
        font-size: 2em;
        left: 2%;
        position: absolute;
        z-index: 300;
        /* top: calc(100vw/5);*/
        top: 250px;
    }

    .slide_nav a:before {
        text-shadow: 1px 1px 3px #111;
    }

    .home .slide_nav {}

    .slide_nav a {
        color: #fff;
    }

    .slide_nav a:hover,
    .slide_nav a:active,
    .slide_nav a:focus {
        text-decoration: none;
        color: #2D2C28;
    }

    .slide_nav.left {}

    .slide_nav.right {
        left: auto;
        right: 2%;
    }


    .hero-none .onepage,
    .hero-exists .onepage  {
          /* animation: hueshifter 15s linear 1s infinite; */ /* animation-name followed by duration in seconds*/
    }



    @keyframes hueshifter {
      0% {

        background: rgba(255,197,255, 0);

      }

      15% {

        background: rgba(255,197,255, .25);

      }
      33% {

        background:rgba(158,243,199, .25);

      }
      60% {
        background: rgba(105, 201, 240, .25);

      }

      80% {
        background: rgba(255, 246, 133, .25);

      }

      90% {
        background: rgba(255,197,255, .25);

      }

      100% {
        background: rgba(255,197,255, 0);

      }
    }

    .hero-none .content,
    .hero-exists .content {
    background: #fff;
    padding: 2em;
    padding-top: 3em;
    max-width: 1040px;
    margin: auto;
    /* min-height: 100vh; */
    /* padding-bottom: 200px; */
    }

/*****************
    LESSONS
***********************************************/

    .single-sfwd-lessons .content.centering_box {
        max-width: 95%;
    }

    .single-sfwd-lessons .content .ld-tab-content img,
    .single-sfwd-lessons .content .ld-tab-content p,
    .single-sfwd-lessons .content .ld-lesson-status,
    .single-sfwd-lessons .content .pageinfo {
        max-width: 1040px;
        margin: 0 auto;
    }

    .single-sfwd-lessons .content .ld-tab-content p {
        margin-bottom: 1em;
    }


    .single-sfwd-lessons .content .text {
        width: 100%;
        max-width: inherit;
    }

/*****************
    MODULES
***********************************************/
    .socialink-module {
        margin: 2em 0;
        padding: 1.5em 0;

        .module_inner { position:relative; }

        h2 {
            color: inherit;
            margin-bottom: 1em;
            text-align: center;
        }
    }

/*****************
    GRID
***********************************************/
    .content .related_grid_inner {
        flex-wrap: wrap;
    }

    .content .flexible.related_grid_inner article.archive_post {
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start;
                min-height: 200px;
                width: 33%;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -webkit-flex-direction: row;
                    -ms-flex-direction: row;
                        flex-direction: row;
                -webkit-flex-wrap: wrap;
                    -ms-flex-wrap: wrap;
                        flex-wrap: wrap;
                        max-width: 300px;
                        max-height: inherit;
    }

    .content .related_grid_inner article.archive_post .featimg {
        margin-right: 0;
        justify-content: center !important;
    }
    .content .related_grid_inner article.archive_post .mainpost {
        padding: 1em;
    }

/*****************
    LAYOUT
***********************************************/
    .container_inner {

    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .onepage {
        clear: both;
        padding: 0;
        margin-top: 2em;
        top: 46px;
        padding-bottom: calc(100vw / 4);
    }

        .home .onepage .copy .text {
            min-width: 640px;
            max-width: 1040px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

    .single.sfwd-lessons-template-default .onepage {
        top:0;
    }

    .sfwd-lessons-template-default .onepage {
        padding-bottom: calc(100vw / 4);
    }

    .onepage .nf-form-content {
        padding: 0;
    }

    .nf-form-fields-required {
        margin-bottom: 1em;
        font-size: .8em;
    }

    .single-sfwd-courses .onepage {
        margin-top: 0;
        
        padding-bottom: calc(100vw / 3);
    }

    .content {
        min-height: 300px;
    }

    .content .text {}

        .sfwd-quiz-template-default .content .text {
            max-width: 95%;
            margin-left: auto;
            margin-right: auto;
        }

        .content .text .wpProQuiz_results p {
            max-width: 100%;
        }

    .content.nosidebar {
        float: none;
        width: 100%;
    }

    .pageinfo {}

    .coursepage-flexible {
        flex-wrap: nowrap;
    }

    .course-sidebar {
        border-left: 5px solid #ddd;
        padding-left: 1em;
    }

    video {
        max-width: 100%;

    }

    .home video {
        height: calc(100vw / 2.2);

        &.new-home {
          height:100%;
        }
    }

    #container {
        max-width: 100%;
        overflow-x: hidden;
       
    }

    .menu-blockified {}

    .menu-blockified > ul {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 2em;
    }

    .menu-blockified > ul > li {
        margin-left: 0;
        list-style: outside none none;
    }

    .menu-blockified > ul > li > a {
        display: block;
        margin-bottom: 1em;
    }

    .menu-blockified > ul > li ul li {
        list-style: outside none none;
        margin-bottom: 1em;
        margin-left: 0;
    }

    .menu-blockified > ul > li ul li a {}

    .flexible {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-flex-direction:row;
        -ms-flex-direction:row;
            flex-direction:row;
    -webkit-flex-wrap:wrap;
        -ms-flex-wrap:wrap;
            flex-wrap:wrap;
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
        -ms-flex-pack:justify;
            justify-content:space-between;

    }

    .flexible.twocol {
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    .flexible.twocol > div,
    .flexible.twocol > .col {
        width: 47%;
    }

    .flexible.threecol {
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }

    .flexible.threecol > div,
    .flexible.threecol > .col {
        width: 30%;
    }

    .flexible.dialog {
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

/*****************
    TABS
***********************************************/
    section.tabbed {
        background: #cbcdce none repeat scroll 0 0;
        margin-top: 0;
    }

    .tabs-menu-inner.flexible {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
                justify-content: space-between;
    }

    .tabs-menu a {
        background: #ececed none repeat scroll 0 0;
        display: inline-block;
        font-size: 2.5em;
        font-weight: bold;
        min-height: 15vh;
        padding-bottom: 1em;
        padding-top: 1em;
        text-align: center;
        width: 32%;
    }

    .tabs-menu a .indicator {
        color: #49c5f2;
        display: block;
        font-size: 2em;
    }

    .tab {
        background: #fff none repeat scroll 0 0;
        min-height: 30vh;
        padding: 2em;
    }

    .tabs-menu a.active,
    .tabs-menu a:hover {
        background: #fff;
        text-decoration: none;
        color: #ff0101;
    }

    .herospot {
        width: 100%;
        height: calc(100vw / #{$aspect-ratio-hero})
    }

    .herospot iframe {
        height: calc(100vw / 2);
    }

    /* tweaner widths */

    @media (min-width: 769px) and (max-width: $max-centering) {
        .onepage {
            padding: 1em;
        }
    }

/*****************
    Accessibility Additions
***********************************************/
    #skiptocontent {

    }

    #skiptocontent > a {
        position: absolute;
        top: 0;
        left: -160px;
        background: #cf2020;
        color: #fff;
        padding: 0.25em 0.75em;
        text-decoration: underline;
        display: inline-block;
        transition: all 0.2s ease;
        width: 160px;
        font-size: 15px;
        text-align: center;
        box-sizing: border-box;
    }

    #skiptocontent > a:focus {
        left: 0px;
    }

    a:not(.skipping_button):not(.dont_highlight):focus,
    .accessible_highlight {
        transition: all 0.2s ease;
        // background: #ffff66 !important;
    }


    .select2-container--default .select2-selection--multiple {
        background-color: #fff;
        border: 1px solid #aaa;
        min-height: 40px;
        display: flex;
        align-items: center;
        border-radius: 0;
        font-size: 13px;
    }

    .select2-container--default .select2-selection--multiple:after {
        content:'›';
        margin-right: 5px;
    }

/*****************
    G Overrides
***********************************************/
    .grecaptcha-badge {
         display: none !important;
    }

/*****************
    Internet Explorer Fixes
***********************************************/
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
         /* IE10+ CSS styles go here */

        body {

        }
    }

/*****************
    fixed position scrollbar hide
***********************************************/
    .noscrollbar::-webkit-scrollbar { width: 0 !important }
    .noscrollbar { overflow: -moz-scrollbars-none; }
    .noscrollbar { -ms-overflow-style: none; }
    .noscrollbar {scrollbar-width: none}

/*****************
    HOME
***********************************************/
    .home .content {
        min-height: unset;
    }

    .home .pageinfo h1 {
        display: none;
    }
    .join-section {
        margin: 5em 0;
        background: #fff;
        
    }

    .join-section h1 {
        text-align: center;
        font-size: 2em;
    }

    .join-section .description {
        color: #66c;
        text-align: center;
        font-size: 1.1em;
    }

    .founders-columns .flexible {
        justify-content: space-around;
    }

    .founder_column {
        width: 48%;
        /* padding-bottom: 250px; */
    }

    .founder_column h1  {
        font-size: 2em;
    }

    .founder_column:nth-child(2) .column_contents {
        font-size: .9em;
        /* background-image: url(#{$imgs-path}bg_circle.svg); */
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
    }

    .founder_column .column_contents iframe {
        width: 100%;
    }

    // new homepage styles
      .onepage {

      }


    // new founder columns
      .title-back {
        padding: rem(68) 0 0 0 ;

        h1 { margin-bottom: 0; font-size: rem(34); line-height: rem(41); }
        h2.sub-header { color: $blackLt; margin: rem(34) 0; font-size: rem(19); line-height: rem(23); }
      }
      .expert-head {
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        

        width: rem(300);
        height: rem(300);
        border-radius: 50%;
      }
      .expert-side { font-size: rem(19); line-height: rem(23); }
      ul {
        &.expertise-list {
          // border: 1px solid #c0c;
          li {
            // border: 1px solid #0f0;
            font-size: rem(14);
            line-height: rem(17);
            font-family: $sans-demi;
            margin-left: rem(21);
            margin-bottom: rem(27);
            list-style: none;

            &:before {
              content: '';
              background-color: $teal;
              width: rem(4);
              height: rem(4);
              position: absolute;
              left: 17px;
              margin-top: 6px;
              border-radius: 50%;
            }
          }
        }
      }

      .home-back {
        padding: rem(68) 0;
        //margin: rem(68) 0;
        background-image: url(#{$imgs-path}brain-partial-default.png);
        background-size: 355px 182px;
        background-position: bottom right;
        background-repeat: no-repeat;

      }
      
      .no-back {
        padding: rem(34) 0;
        margin: 0 0;
      }

      .color-back,
      .gradient-back-mint,
      .gradient-back-magenta {
        padding: rem(68) 0;
        margin: 0 0;
      }

      h2 {
        font-family: $font-secondary;
        &.large-pink   { color: $color-primary; font-size: rem(23); line-height: rem(28); }
        &.small-pink   { color: $color-primary; font-size: rem(23); line-height: rem(28); } 
        &.small-black  { color: $blackLt; font-size: rem(23); line-height: rem(28); }
        &.gradient-head {
          @include css-gradient($mint, $blue, 130deg);
          color: $blackLt;
          font-size: rem(30);
          line-height: rem(30);
          width: 100%;
          text-align: center;
          margin: 0 0;
          padding: rem(36) rem(30);

        }
      }
      .color-back {
        background-color: $mint;
      }
      .gradient-back-mint {
        @include css-gradient($mint, $blue, 130deg);
      }

      .gradient-back-magenta {
        @include css-gradient($magenta, $blue, 130deg);
      }
      .new-founder-columns {
        @extend %new-founder-columns;
        .card-col {
          margin: 0 0 rem(17) 0;
          .card {
            margin: rem(17) 0 rem(17) 0;
            min-width: rem(307);
          }
        }
        
      }

    // four pillars cards
      .four-pillar-columns {
        @extend %four-pillar-columns;
        &.pillar-cards {
          .card-col {
            margin: 0 0 rem(17) 0;
            .card {
              margin: rem(17) 0 rem(17) 0;
              min-width: rem(307);
            }
          }
        }

      }


    // Audio style overrides
      .audio-header {
        font-family: $sans-demi;
        font-size: rem(15);
        line-height: rem(18);
        margin-bottom: rem(17);
      }
      .audio-border {
        border: 1px solid $greyLt;
        margin-bottom: rem(34);
        .plyr__controls {
          .plyr__controls__item {
            &.plyr__control[data-plyr="download"] {
              padding: unset;
              margin-left: unset;
              svg {
                display: none;
                border: 1px solid #0f0;
              }
            }
          }
        }

        &.audio-not-fullwidth {
          .plyr__controls {
            .plyr__controls__item {
              &.plyr__time--duration.plyr__time {
                  display: none;
                  border: 1px solid #0f0;
              }
              
            }
          }
        }
      }
      

    //modals
      // .admin-bar fixes to the modal
      .admin-bar .modal {
        height: calc(100% - 28px);
        margin-top: 28px;
      } 
      #videoModal {
        &.modal {
          .close {
              width: rem(34);
              height: rem(34);  
              // color: $white;
              opacity: 1;
              position: absolute;
              top: 10px;
              right: 10px;
              z-index: 1060;
              text-shadow: none !important;

              .close-icon {
                background-image: url(#{$imgs-path}remove-white-34x34.svg);
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                width: rem(34);
                height: rem(34);
                display: block;
              }


              &:hover, &:focus {
                opacity: 1;
                text-shadow: none !important;
                outline: 0 none !important;
                .close-icon {
                  background-image: url(#{$imgs-path}remove-magenta-34x34.svg);
                }
              }
            }
          .modal-dialog {


            .modal-content {
              background-color: transparent;
              border: 0 none;
              
                
              
              .modal-body {
                &.video-body {
                  video { height: 100%; }
                }
              }
              .modal-footer {  }
            }
          }  
        }
      }
      .modal-backdrop.fade.show {
        background-color: opacify($blackLtA, 0.95);
        opacity: 1;
      }

/*****************
    PROFILE
***********************************************/

    .ld-profile-summary {
        display: flex;
        justify-content: center;
        text-transform: uppercase;
    }

    .ld-profile-heading,
    .ld-profile-edit-link {
        text-align: center
    }

    a.ld-profile-edit-link {
        display: block;
    }

    .socialink-profile .ld-profile-stat strong {
        color: #ff15d8;
    }
    .learndash-wrapper .ld-profile-summary .ld-profile-stats .ld-profile-stat span,
    .socialink-profile .ld-profile-stat span {
        color: #000;
       font-family: $font-secondary;
    }

    .learndash-wrapper .ld-profile-avatar {
        width: 150px;
        height: 150px;
        border: 5px solid #e2e7ed;
    }

    .ld-profile-left {}

    .ld-profile-right {
        margin-left: auto;
    }

    #ld-profile {
        display: flex;
    }

    .learndash-wrapper .ld-course-status .ld-status.ld-status-complete,
    .learndash-wrapper .ld-status-complete,
    .learndash-wrapper .ld-expand-button {
        background-color: #004bff;
    }

    .ld-course-title {
       font-family: $font-secondary;
        color: #000;
        margin-left: 1em;
    }

    .ld-item-name {
        align-items: center;
    }

    .ld-certificate-link {
        margin-left: 1em;
    }

    .learndash-wrapper .ld-table-list .ld-table-list-header {
        background-color: #004bff;
    }

    .learndash-wrapper .ld-tertiary-background {
        background-color: #636363 !important;
    }

    .learndash-wrapper .ld-expand-button.ld-button-alternate {

        color: #004bff;

    }

    .learndash-wrapper .ld-expand-button.ld-button-alternate .ld-icon {
        background: #004bff;
        }

        .learndash-wrapper .wpProQuiz_content .wpProQuiz_questionListItem label.is-selected, .learndash-wrapper .wpProQuiz_content .wpProQuiz_questionListItem label:focus-within {
            border-color: #004bff;
        }

        .learndash-wrapper .wpProQuiz_content .wpProQuiz_button, .learndash-wrapper .wpProQuiz_content .wpProQuiz_button2, .learndash-wrapper .wpProQuiz_content .wpProQuiz_certificate a.btn-blue {
            background-color: #004bff;
        }

        .learndash-wrapper .wpProQuiz_content a#quiz_continue_link {
            background-color: #9ef3c7;
            color: #111;
        }

        .learndash-wrapper .course_progress .sending_progress_bar {
            height: 7px;
            background: #9ef3c7;
        }

        .learndash-wrapper iframe #wrapper {
            background: #fff !important;
        }

             .mobile-start-overlay.shown {
            background: #004bff;
        }

/*****************
    COURSE WIDGET
***********************************************/

    .course-widget-header {
        width: 100%;
        margin-bottom: 2em;
        padding: 1.5em;
        margin-top: 80px;
    }

    .course-widget-header .expander_header {
        color: #fff;
        text-transform: uppercase;
    }

    .course-widget-header .expander_contents {
        margin-top: 1em;
    }

    .course-widget-header .flexible {}

    .course-widget-header .flexible .col {
        width: 23%;
        background: #F6EEFC;
        padding: 1em;
       font-family: $font-secondary;
    }

    .course-widget-header .flexible .col p.lbl {
        color: #000;
        font-size: 1.1em;
    }

    .course-widget-header .ld-lesson-item-section-heading {
        display: none;
    }

    .course-widget-header .ld-progress-steps {
        margin-top: 1em;
        font-size: .9em;
    }

    .socialink-app-overwrite .ld-content-actions {
        background-image: url(#{$imgs-path}rule_thin.svg);
        border: 0;
        background-repeat: no-repeat;
        background-position: top left;
        padding-top: 3em;
        margin-top: 2em;
    }

    .learndash-wrapper .ld-content-actions .ld-content-action .ld-course-step-back,
    .socialink-app-overwrite .ld-course-step-back {


    }

    .socialink-app-overwrite .ld-course-step-back:before {
        content: '‹';
    }

    .learndash-wrapper .ld-breadcrumbs .ld-status.ld-status-progress {
        background: #9ef3c7;
        color: #10D;
    }

    .learndash-wrapper .ld-button {
        background-color: #004bff;
    }

/*****************
    ACCOUNT
***********************************************/

    #mepr-account-welcome-message {
        display: none;
    }

    .mepr-nav-item a {
        color: #D6D6D6;
    }

    .mepr-account-change-password {
        color: #878282;
        font-size: .9em;
    }

    [class^="mepr"] a {
      color:inherit;
    }

    .mp_wrapper .mp-form-row,
    .mp-form-row {
        margin-bottom: 2em;
    }

    div#mepr-account-nav {
        border-bottom: 1px solid #009dff;
        padding-bottom: 0;
        margin-bottom: 1em;
    }

    .mepr-nav-item {
        margin-right: 1em;
        padding: 0 0 .5em 0;
        display: inline-block;
    }

    .mepr-nav-item:hover,
    .mepr-active-nav-tab {
        border-bottom: 10px solid #009dff;
    }

    .mepr-nav-item:hover a {
        text-decoration: none;
    }

    .mepr-price-box-button a,
    .mepr-price-menu.minimal_horizontal .mepr-price-box-button a {
      font-family: $font-secondary;
        background: #fff;
        padding: .5em 1.2em;
        border-radius: 20px;
        font-size: .9em;
        color: #000;
        text-transform: uppercase;
        margin: auto;
        display: inline-block;
    }

    .mepr-price-box-button a:hover,
    .mepr-price-menu.minimal_horizontal .mepr-price-box-button a:hover {
        text-decoration: none;
    }

/*****************
    COURSES
***********************************************/
    .ld_course_grid .socialink-courses-modified a.btn-primary {
        color: white;
        text-transform: uppercase;
       font-family: $font-secondary;
        border-radius: 10px;
    }
    .socialink-courses-modified.learndash-complete a.btn-primary {
        background-color: #004bff;
        padding: 15px;
        border-radius: 100em;
    }

    .socialink-courses-modified.learndash-incomplete  a.btn-primary {
        background-color: #FF66FF;
            background: linear-gradient( 90deg, #ff15d8 0%, #004bff 100%);
            border-radius: 100em;
            border: none;
            padding: 15px;
    }

    .ld-course-list-items .ld_course_grid .thumbnail.course.socialink-courses-modified {
        display: flex;
        flex-direction: column;
        min-height: 400px;
    }

    .socialink-courses-modified .entry-title {
        margin: 2em .5em;
        font-weight: inherit;
        font-size: 1.2em;
    }

    .ld-course-list-items .ld_course_grid .thumbnail.course.socialink-courses-modified .ld_course_grid_price {
        text-transform: uppercase;
        font-size: .7em;
    }

    .ld-course-list-items .ld_course_grid .thumbnail.course.socialink-courses-modified.learndash-complete .ld_course_grid_price {
        background-color: #004bff;
    }

    .ld-course-list-items .ld_course_grid .thumbnail.course.socialink-courses-modified.learndash-incomplete .ld_course_grid_price {

    }

    .ld-course-list-items .ld_course_grid .thumbnail.socialink-courses-modified .caption {
        padding: 16px;
        color: #333;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        font-size: .8em;
    }

    .ld-course-list-items .ld_course_grid .thumbnail.socialink-courses-modified .caption p {
        margin-top: auto !important;
        max-width: 100%;
    }

    .learndash-wrapper .ld-focus .ld-focus-main .ld-focus-content {
        
        max-width: unset;
        max-width: 100% !important;
    }

/*****************
    PLANS AND PRICING
***********************************************/

    .group-plans-embed {
        max-width: 972px; /* Changed from 800px */
        margin: auto;
    }

    .socialink-modified .mepr-price-boxes {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .socialink-modified.mepr-price-menu {
        margin: 3em 0;
    }


    .mepr-price-menu.minimal_horizontal .mepr-price-boxes.mepr-2-col .mepr-price-box,
    .socialink-modified .mepr-price-menu.minimal_horizontal .mepr-price-boxes .mepr-price-box,
    .socialink-modified .mepr-price-box {
        margin-right: 1em;
        border-radius: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 1em;
        color: #fff;
        width: 30%;
        min-height: 300px;
    }

    .socialink-modified .mepr-price-box-foot {
        margin-top: auto;
    }
    .socialink-modified .mepr-price-menu.minimal_horizontal .mepr-price-box-button {
        margin: 0;
    }
    .socialink-modified .mepr-price-menu.minimal_horizontal .mepr-price-box-footer {
        margin: 0;
    }

    .socialink-modified .mepr-price-menu.minimal_horizontal {
        margin: 2em auto;
    }

    .mepr-price-menu.minimal_horizontal .mepr-price-box {
        text-align: left;
    }

    .pricebox-header h2,
    .mepr-price-menu.minimal_horizontal .mepr-price-box-title {
        font-size: 1.2em;
        font-family: $font-secondary;
        margin-top: 0;
        color: #fff;
        font-family:inherit;
        margin-bottom: 1em;
    }

    .pricebox-header h3,
    .mepr-price-menu.minimal_horizontal .mepr-price-box-price {
       font-family: $font-secondary;
        font-size: .9em;
        border-bottom: 3px solid #fff;
        padding-bottom: 1em;
        margin-bottom: 1em;
    }

    .mepr-price-box-heading {
        margin-bottom: 10px;
    }

    .mepr-price-menu.minimal_horizontal.minimal_gray_horizontal .mepr-price-box .mepr-price-box-benefits .mepr-price-box-benefits-list .mepr-price-box-benefits-item {
        border-bottom: 0;
        font-size: .9em;
        font-weight: normal;
        margin-bottom: 10px;
    }

    .mepr-price-box.socialink-extra ul li {
        list-style: inside none;
        margin-left: 0;
          margin-bottom: 10px;
        font-size: .9em;
    }

    .mepr-price-box.socialink-extra ul {
        margin-left: 0;
    }

/*****************
    FOOTER
***********************************************/

    .footerlogo {
        background-image: url(#{$imgs-path}logo_full.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: left bottom;
        display: block;
        height: 130px;
        position: absolute;
        bottom: 0;
        width: 33%;
        display: none;
    }

    .subfooter {
        background-image: url(#{$imgs-path}bg_footer.png);
        height: 400px; /* changed from 428px*/
        background-size: contain;
        background-repeat: no-repeat;
        width: 75%; /* changed from 80% */
    /*    float: right;
        margin-top: calc(-1 * (100vw / 6));*/ /* Removed */
        /*padding: 50px 50px 145px 40%;*//* Removed */
        padding: 50px 50px 52px 35%;
        background-position: right;
        position: absolute; /* Added */
        bottom: 180px; /* Added */
        right: 0; /* Added */
    }

    .carousel-container {
        position: relative;
        color: #fff;
        margin-top: 8em;
    }

    .carousel-container .body {
        font-style: italic;
    }

    .carousel-container .body p:last-child {
        margin-bottom: 0;
    }

    .carousel-container .fld-name p {
        text-align: right;
        margin-bottom: .25em;
    }

    .carousel-container .fld-subtitle__role p {
        text-align: right;
        margin-bottom: 0;
        text-transform: uppercase;
        font-family: $font-secondary;
    }

    .carousel-container .slideshow_area {
        position: absolute;
        left: 10%;
        width: 80%;
    }

    .carousel-container .slide_nav {
        top: 10px;
    }

    .carousel-container svg {
        fill: #fff;
    }

    #footer {
        height: 300px; /* RJO Added */
        clear: both;
        margin-top: 300px;
        margin-top: 0;
        padding-top: 2em;
        position: relative;
        overflow: inherit;
        background-size: 40%; /* Changed from 40% */
        background-repeat: no-repeat; 
        background-position: right bottom;
        background-image: url(#{$imgs-path}footer_brain.png);
        background-color: #9ef3c7;
        top: auto;
    }

                @media(max-width: 1340px) {
                    #footer {
                        background-size: 35%; /* Changed from 35% */
                    }
                }

    .footer_inner {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .userfunctions-footer {
        margin-right: 2em;
    }


    .userfunctions-footer>.flexible {
        align-items: center;
        font-family: $font-secondary;
        display: none;
    }

    .userfunctions-footer a.button {
        margin-left: 1em;
    }

    .footermenu {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 4em;
      font-family: $font-secondary;
        font-size: .8em;
        align-items: center;
        padding-right: 2em;
        position: absolute;
        bottom: 1em;
    }

    .footercredits {}

    .footercredits a {}

    .sitecredits {
        margin-left: 2em;
    }

    .sitecredits p {
        margin-bottom: 0;
    }

    .sitecredits a {}

    .sinkcredits {
        display: none;
    }

    .sinkcredits p {
        margin-bottom: 0;
    }

    .sinkcredits a {}

/*****************
    RELATED
***********************************************/

    .related_content {
        text-align: center;
        margin: 2em 0;
    }

    .related_content .field_divlist {
        display: -ms-flexbox;
        display: flex;
        margin: 2em 0;
    }

    .related_content .field_divlist>div {
        background: #ccc none repeat scroll 0 0;
        border-right: 1px solid #fff;
        height: 250px;
        min-width: 25%;
        padding: 1em 2%;
    }

    .metadatum {
        margin-bottom: 2em;
    }

    .metadatum .meta_item {
        margin-bottom: 1em;
    }

    .metadatum .meta_item .lbl {}

    .metadatum .meta_item .val {}

/*****************
    ARCHIVE
***********************************************/

    article.archive_post {
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-bottom: 1em;
        padding-bottom: 1em;
        flex-wrap: wrap;
    }

    aside.readmore {
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .archive_post.griditem {
        flex-direction: column;
        width: 30%;
        margin-right: 1%;
    }

    .archive_post.griditem h2 {
        margin-top: 1em;
        background: none;
    }

    article.archive_post.archivepost_last {
        border-bottom: 0;
    }

    .archive_post .featimg {
        /* margin-right: 1em; */
        width: 100%;
        flex-shrink: 0;
        justify-content: center !important;

    }

    .module-addcontent .archive_post .featimg {
        /* margin-right: 1em; */
        width: 100%;
        background: #fff;
        padding: 1em;
        display: flex;
        min-height: 150px;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        justify-content: center !important;
    }

    .archive .archive_post .featimg {
            width: 150px;
    }
    .archive_post.thumb_exists .mainpost {
        width: calc(100% - 170px);
    }

    article.archive_post h2 {
        font-size: 1.2em;
        margin-bottom: .2em;
    }

    article.archive_post p.post_header_meta {
        font-size: 90%;
    }

    article.archive_post .post_meta {
        border-top: 1px solid #eaeaea;
        padding-top: 5px;
        font-size: 90%;
    }

    .module-addcontent .module_inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    article.archive_post a.readmore {
        font-size: 90%;
        text-transform: uppercase;
    }

    article.archive_post a.readmore:after {
        content: '>';
        padding-left: 2px;
    }

    .relatedposts {
        clear: both;
        border-top: 1px solid #9ef3c7;
        padding-top: 1em;
        font-size: 1.5em;
        text-transform: uppercase;
    }

    .relatedposts ul {
        display: flex;
        margin: 0;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    .relatedposts li {
        list-style: none outside none !important;
    }

    .relatedposts .prev {
        margin-right: auto;
    }

    .relatedposts .next {
        margin-left: auto;
    }

    .single_relatedposts {}

    .archive_relatedposts {}

    p.readmore {
        margin-bottom: 0;
    }
	
/*****************
    OPEN SOURCE ATTRIBUTIONS
***********************************************/
	#attributions li {
		list-style-type: none;
	}
	
	.license_label {
		border: 1px solid rgba(0, 0, 0, 0.125);
		border-radius: rem(10);
		padding: rem(17);
	}
	
	.license_text {
		padding-top: rem(17); 
	}