	* {
		-webkit-print-color-adjust:exact;
	}

	body {
		max-width: 100%;
	}

	header nav,
	footer,
	nav,
	.sidebar,
	.hero_caption .capit {
		display: none;
	}

	@page {
	margin: 2cm;
	}

	body, article {
	width: 100%;
	}

	img {
	max-width: 100% !important;
	}

	header.pageinfo h1,
	.printonly {
	display: block !important;
	font-size: 3em;
	color: #222;
	}

	.tab-content,
	.tab-content>.tab-pane {
		display: block !important;
	}

	.home .onepage, 
	.home .content {
	min-height: none;
	}

	.tab-content>.tab-pane {
	margin-bottom: 2em;
	}


	table, 
	figure,
	img { 
	page-break-inside: avoid 
	}

	tr,
	td { 
	page-break-inside:avoid; 
	page-break-after:auto 
	}

	h1, h2, h3, h4, h5 {
	page-break-after: avoid;
	}

	article a {
	 font-weight: bolder;
	 text-decoration: none;
	}

	article a[href^=http] {
		word-wrap: break-word;
	}

	article a[href^=http]:after {
	 content:" <" attr(href) "> ";
	 font-weight: normal;
	 font-style: italic;
	 word-wrap: break-word;
	 font-size: .7em;
	}

	article a[href^="#"]:after {
	 content: "";
	}



	.text p,
	.text ul li {
	line-height: 1.55em;
	}

	.herospot {
		height: auto;
	}

	article .center_content {
	    width: 100%;
	    max-width: none;
	    margin: 2em auto;
	    padding: 0 3.5em;
	}

	#container .herospot .hero_description {
    color: #fff;
    font-size: 1.2em;
    max-width: none;
    padding: 1em;
    position: relative;
}