/***** 
STYLE GUIDE
*****/


.sg-color {
	border: none;
}
.sg-color--a {
	background-color: $color-primary;
}

.sg-color--b {
	background-color: $color-secondary;
}

.sg-color--c {
	background-color: $color-tertiary;
}


.sg-h1, .sg-h2, .sg-h3 {
	font-family: $font-primary;
}

.sg-section .background_image {
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	padding: 3rem;
	min-height: 400px;
	max-width: 800px;
}

/* generic guide visuals */


.sg-header.sg-container {
	background-color: $color-primary;
	position: fixed;
	width: 100%;
}

.sg-logo {
	color: $white;
}

.sg-btn--top {
    font-size: .8rem;
}

.sg-h1 {
	font-size: 2.25rem;
	font-weight: bold;
	padding-bottom: .2rem;
	margin-bottom: 0;
	color: $greyDk; //#777
}

.sg-h2 {
    border-bottom: 1px solid $greyLt;
    font-size: 1.75rem;
    margin-bottom: .5rem;
    text-transform: capitalize;
    padding-bottom: .4rem;
}

.sg-h3 {
	font-size: .65rem;
	text-transform: uppercase;
	font-weight: 900;
	color: $sand; //#80715f
}

.sg-section fieldset div {
	margin-bottom: 2rem;
}

.js .sg-btn--source {
	display: block;
    font-size: .6rem;
    background: $stone; //#A29B95
    color: $greyUlLt; //#f2f2f2
    padding: .25rem .75rem;
    border-radius: 2px;
    font-family: Monaco, Monospace;
    margin-bottom: 1rem;
}

.sg-pattern-styles {
	padding: 1rem;
}

.sg-anchor {
    display: block;
    padding: .5rem;
    background: $greyUlLt; //#f2f2f2
    margin-top: 2rem;
}

span.i-code {
	display: none;
}

.the-icons {
	font-size: 1.7rem;
	line-height: 1.7;
}

	.the-icons i:before {
		color: $color-primary;
		    min-width: 80px;
	}
