// type
	.footnote {
	  font-size: rem(12);
	  line-height: rem(16);
	}

// headers
	h1 {
	  font-size: rem(56);
	  line-height: rem(66);
	}
	h2 {
	  font-size: rem(50);
	  line-height: rem(60);
	}
	h3 {
	  font-size: rem(36);
	  line-height: rem(42);
	}
	h4 {
	  font-size: rem(30);
	  line-height: rem(36);
	}
	h5 {
	  font-size: rem(24);
	  line-height: rem(28);
	}
	h6 {
	  font-size: rem(22);
	  line-height: rem(26);
	}

	.text-why {
		font-size: rem(24); line-height: rem(28);
	}

// nav header
	.top-nav {
	  min-height: rem(84);

	  &#nav-home,
	  &#nav-page {
	    background-color: $white;

	    // nav guts : BEGIN
	    #navbarScroll {
	      &.navbar-collapse {
	        position: relative;
	        top: unset;
	        right: unset;

	        &.show {
	          position: relative;
	          top: unset;
	          right: unset;
	          min-width: unset;
	          max-width: unset;
	          height: unset;
	          background-color: unset;
	          border-top: 0px none;
	        }
	      }

	      .navbar-nav {
	        .nav-item {
	        	padding: rem(5) 0;
	          .nav-link {
	          }
	          &.dropdown {
	            .dropdown-menu {
	              margin: 0 0 0 0;
	              padding-bottom: rem(15);
	              left: -15px;

	              &.show {
	                border: 0px solid $white;

	                li {
	                  .dropdown-item {
	                  }

	                  &:hover {
	                    background-color: $white;

	                    .dropdown-item {
	                      color: $magenta;
	                      background-color: $white;
	                    }
	                  }
	                }
	              }
	            }
	          }
	        }
	      }
	    }
	    .cta-buttons {
	    }
	    // nav guts : END
	  }
	}

// sections & dividers
	.padded-top-40,
	.padded-40 { padding-top: rem(40); }

	.padded-bottom-40,
	.padded-40 { padding-bottom: rem(40); }

	.padded-top-65,
	.padded-65 { padding-top: rem(65); }

	.padded-bottom-65,
	.padded-65 { padding-bottom: rem(65); }

	.padded-top-80,
	.padded-80 { padding-top: rem(80); }
	
	.padded-bottom-80,
	.padded-80 { padding-bottom: rem(80); }

	.header-home {
	  margin-bottom: 86px;
	  &:after {
	    margin-top: rem(76);
	  }
	  h1 {
	    font-size: rem(36);
	    line-height: rem(38);
	  }
	  p {
	    font-family: $sans;
	    font-size: rem(24);
	    line-height: rem(30);
	  }
	}

	.header-pages {
	  .mission,
	  .for-schools,
	  .for-families {
	    margin-top: rem(208);
	    width: rem(466);
	    height: rem(254);
	  }
	  &:before {
	  	background-position: bottom center;
		background-size: cover;
	    height: rem(128);
	  }
	}

	.header-video {
		// margin-top: rem(48);
		// margin-bottom: rem(88);
		// max-height: rem(410);
	}

	.goldie-section {
		.goldie-headshot {
		height: rem(324);
		width: rem(324);

			@include image-2x('#{$imgs-path}goldie-hawn-bluestroke@2x.png', 324px, 324px);
		}

		.content { font-size: rem(18); line-height: rem(24); }
	}

	.brain-section {
		&:before {
			height: 304px;
		}
	}

	.chart-section {
		padding-top: 173px;

		.chart-value {
			.eighty-six,
			.eighty-eight,
			.eighty-three {
				height: rem(200);
				width: rem(200);
				
				.chart-number {
					width: rem(200);
					font-size: rem(54);
				}
			}
		}
		.chart-text {
			font-size: rem(20);
			line-height: rem(24);
		}
	}

	.top-blue-wave,
	.top-mint-wave {
	  &:before {
	    background-position: bottom -35px center;
	  }
	}

	.sel-section { 
		min-height: rem(321);
		max-height: rem(321);

		h5 { font-size: rem(24); line-height: rem(30); }
	}

	.sel-bubble-img {
		width: rem(453);
		height: rem(374);
		left: 0px;
		top: -240px;

		@include image-2x("#{$imgs-path}bubbleimg-SEL@2x.png", rem(453), rem(374));
	}
	

	#expert-section,
	#case-study {
	  .expert-head {
	    width: rem(300);
	    height: rem(300);
	  }
	}

	#board-directors,
	#board-science,
	#team {
	  .video-header-container {
	    .video-header-bar {
	      height: rem(195);
	    }
	  }
	}

	// membership page
		.member-bar-1,
		.member-bar-2,
		.member-bar-3 {
			.inner-bar-left { p { font-size: rem(24); line-height: rem(29); } }
		}

		

	// research page
	.ven-group {
	  .ven-circle {
	    width: rem(253);
	    min-width: rem(253);
	    max-width: rem(253);
	    height: rem(253);
	    .ven-text {
	      width: rem(183);

	      p {
	        font-size: rem(18);
	        line-height: rem(20);
	      }
	    }
	  }
	}
	.contact_links {
		.contact_links_wrapper{
			margin-bottom: 30px;
			.contact_links_figure{
				margin-right: 20px;
				min-width: 136px;
				height: 136px;
				img{
					max-width: 82px;
				}
				span { &:before { font-size: rem(82); } }
			}
			.contact_links_heading{
				font-size: 22px;
				line-height: 28px;
			}
			.contact_links_mail{
				font-size: 22px;
				line-height: 30px;	
			}
			.contact_links_para{
				font-size: 18px;
				line-height: 24px;
			}
		}
	}

// member cards
	.membership-cards {
		max-width: rem(971);
		.row {
  			.col {
  				.card {
  					.card-header {
  						h4 { font-size: rem(24); line-height: rem(29); height: rem(54);  }
  					}
  				}
  			}
  		}
	}
	
// footer
	footer {
	  background-size: 596px 596px;
	  background-position: bottom -249px right -244px;
	  padding-top: 54px;
	}

/* mindup program */
	.program_section {
	  .program_section_heading {
	    font-size: 60px;
	    line-height: 72px;
	  }
	  .program_section_para{
		font-size: 24px;
		line-height: 30px;
	}
	  &:before {
	    background-position: bottom -5px center;
	  }
	}
	.pillar-blocks{
		.mission-blocks{
			.mission-block{

			}
			.mindup_program_header{
			}
			.mindup_program_para{
				font-size: 16px;
				line-height: 22px;
			}
		}
	}
	.pillars-section{
		padding-top: 173px;
		
		.mind-up-research-pill{
			font-size: 36px;
			line-height: 36px;
			margin-bottom: 50px;
		}
	}
/* mindup program */

/* Contact Page */
.contact-page {
	padding: 81px 0px 150px;  
	.contact-page_heading{
		font-size: 60px;
		line-height: 71px;
	}
	.membership-cards{
		.membership-card{
			.card{
				.card-title{
					font-size: 23px;
					line-height: 23px;
				}
			}
		}
	}
	.contact_links{
		
	}
}
/* Contact Page */


.footer-slider{
		padding: 40px 75px 75px;
		.carousel{
			max-width: 684px;
		    margin: 0 auto 25px;
		}
		.carousel-inner{
	 		.carousel-item{
		 		.slider-description{
				  font-size: 16px;
				  line-height: 20px;
		 		}
		 		.slider-author{
		 			font-size: 15px;
					 line-height: 18px;
		 		}
	 		}
 		}
 		.carousel-controls{
 			left: -100px;
 			&.carousel-control-prev{
    		right: -100px;
    	}
 		}
 	}