// sections & dividers
	.brain-section {
		&:before {
			height: 363px;
		}
	}
	

// footer 
	footer {
		background-position: bottom -249px right -89px;
	}

	/* mindup program */
	.pillars-section{
		&::before{
			height: 363px;
		}
	}
	/* mindup program */

	.footer-slider{
 		.carousel-controls{
 			left: -100px;
 			&.carousel-control-prev{
    		right: -100px;
    	}
 		}
 	}