// sections & dividers & section padders
	.header-pages {
		.mission, .for-schools, .for-families {
			margin-top: rem(139);
			height: rem(157);
		}
		&:before {
			background-position: top center;
			background-size: 100%;
			height: rem(73);
		}
	}

	.header-video {
		// margin-top: rem(16);
		// margin-bottom: 0;

		// max-height: rem(253);
	}

	.brain-section {
		padding-bottom: 30px;
		
		&:before {
			height: 139px;
		}
	}
	.chart-section {
		padding-top: 95px;
	}

	#board-directors, #board-science, #team {
		.video-header-container {
			.video-header-bar {
				height: rem(103);
			}
		}
	}

	// membership page
		.member-bar-1,
		.member-bar-2,
		.member-bar-3 {
			.inner-bar-left { padding-left: rem(30); }
	 		.inner-bar-right { padding-right: rem(30); }
	 	}
	

	// research page
		.ven-group {
			.ven-circle {
				width: rem(232);
				min-width: rem(232);
				max-width: rem(232);
				height: rem(232);
				.ven-text {
					width: rem(146);

					p {
						font-size: rem(16);
						line-height: rem(20);
					}

				}
			}
		}

	.donate-logos {
		max-width: rem(312);
		.cc-comp {
			height: rem(26);
			width: calc(312px / 5);
		}
	}



// member cards
	.membership-cards {
		// max-width: rem(356);
	}

// new founder cards
	.new-founder-columns {

		.card-col {
			
			.card {
				min-width: unset;
			}
		}
		
		
	}

// footer 
	footer {
		background-size: 576px 576px;
		background-position: bottom -339px center;
		padding-bottom: 164px;
	}	

	/* mindup program */
	.brain-section{
		padding-bottom: 30px;
	}
	.pillars-section{
		padding-top: 95px;
		&::before{
			height: 139px;
		}
		.mind-up-research-pill{
			font-size: 22px;
			line-height: 36px;
			margin-bottom: 30px;
		}
		.pillar-section_wrapper{
			.pillars-section_img{
				margin-right: 30px;
			}
		}
	}
	/* mindup program */

	/* Contact Page */
	.contact-page{
		padding: 48px 30px 100px;  
		.membership-cards{
			flex-direction: row;
			.membership-card{
				margin: 0 10px 30px 0;
				.card{
					padding: 21px 12px 30px;
					align-items: center;
					background: linear-gradient(135deg, #FF15D8 0%, #6236F0 100%);
					img{
						height: 82px;
						width: 82px;
						margin-bottom: 13px;
					}
					.card-title{
						font-size: 18px;
						letter-spacing: 0;
						line-height: 23px;
						margin-bottom: 27px;
					}
					a{
						padding: 9px 27px;
						font-size: 16px;
						letter-spacing: 0;
						line-height: 18px;				
					}
				}
				&:nth-child(2){
					margin-left: 10px;
					margin-right: 0;
					.card{
						background: linear-gradient(135deg, #962BE8 0%, #004BFF 100%);
					}
				}
			}
		}
	}
	/* Contact Page */

	.footer-slider{
		padding: 40px 75px 75px;
		.carousel-inner{
 		.carousel-item{
	 		.slider-description{
			  margin: 0px 0px 25px;
	 		}
	 		.slider-author{
				  line-height: 18px;
	 		}
 		}
 	}
 	}