// sections & dividers & section padders
	.header-pages {
		.mission, .for-schools, .for-families {
			margin-top: rem(180);
			width: rem(435);
			height: rem(237);
		}

		&:before {
			height: rem(120);
		}
	}

	.header-video {
		
		// max-height: rem(382);
	}

	

	.brain-section {
		&:before {
			height: 240px;
		}
	}


	.chart-section {
		padding-top: 148px;
	}

	.top-blue-wave,
	.top-mint-wave {
		&:before {
			background-position: bottom -25px center;
		}
	}

	.sel-bubble-img {
		left: calc(40% / 2);
	}

	#expert-section, #case-study {
		.expert-head {
			width: rem(270);
			height: rem(270);
		}
	}

	#board-directors, #board-science, #team {
		.video-header-container {
			.video-header-bar {
				height: rem(174);

				&:before {
					top: calc((100%) - (235px / 2));
				}
			}
		}
	}

	// membership page
		.member-bar-1,
		.member-bar-2,
		.member-bar-3 {
			.inner-bar-left { padding-left: rem(30); }
	 		.inner-bar-right { padding-right: rem(30); }
	 	}

	// research page
		.ven-group {
			.ven-circle {
				width: rem(232);
				min-width: rem(232);
				max-width: rem(232);
				height: rem(232);
				.ven-text {
					width: rem(183);

					p {
						font-size: rem(17);
						line-height: rem(20);
					}

				}
			}
		}


// member cards
	.membership-cards {
		max-width: rem(958);

		.row {
		    .col {
		    	.card {
					.card-header {
						h4 { font-family: $font-secondary; font-size: rem(24); line-height: rem(29); height: 48px; margin-bottom: 14px; }
		        	}
					.card-body {
						li {
							font-family: $font-primary; font-size: rem(16); line-height: rem(20);  padding-right: 20px; margin-bottom: rem(20);
		            	}
		            }
		        }
		    }
		}
	}


// new founder columns
	.new-founder-columns {
		.card-col {
				.card {
					margin: rem(17) rem(17) rem(17) rem(17);
					min-width: unset;

					.card-footer {
					  p {
					  	.btn-grad-1 {
					  		font-size: rem(14);
					  		line-height: rem(18);
					  	}

					  }
					}
				}
			} // override _base @extend
	}

// footer 
	footer {
		background-position: bottom -300px right -268px;
	}

	/* mindup program */
	.program_section{
		&:before {
			background-position: bottom -5px center;
		}
	}
	.brain-section{
		.mission-blocks{
			.mindup_program_header{
				margin-bottom: 15px;
			}
			.mindup_program_para{
			}
		}
	}
	.pillars-section{
		padding-top: 148px;
		&::before{
			height: 240px;
		}
	}
	/* mindup program */

	/* Contact Page */
	.contact-page{
		padding: 91px 0px 100px;  
		max-width: 972px;
		margin: 0 auto;
		.contact-page_heading{
			color:  $blackLt;
			font-size: 40px;
			font-weight: bold;
			letter-spacing: 0;
			line-height: 48px;
			margin-top: 20px;
			margin-bottom: 50px;
		}
		.membership-cards{
			.membership-card{
				.card{
					.card-title{
						margin-bottom: 51px;
					}
				}
			}
		}
	}
	/* Contact Page */

	.footer-slider{
		padding: 40px 75px 75px;
		.carousel{
			max-width: 671px;
		  	margin: 0 auto 25px;
		}
		.carousel-inner{
	 		.carousel-item{
		 		.slider-description{
				  font-size: 16px;
				  line-height: 20px;
		 		}
		 		.slider-author{
		 			font-size: 15px;
					  line-height: 18px;
		 		}
	 		}
 		}
 		.carousel-controls{
 			left: -66px;
 			&.carousel-control-prev{
    		right: -66px;
    	}
 		}
 	}