// type
	.helvetica  { font-family: $helvetica; }
	.sans       { font-family: $sans; }
	.sans-book  { font-family: $sans-book; }
	.sans-bookItal  { font-family: $sans-bookItal; }
	.sans-bold  { font-family: $sans-bold; }
	.sans-boldItal  { font-family: $sans-boldItal; }
	.sans-xlt   { font-family: $sans-xlt; }
	.sans-ital  { font-family: $sans-ital; }
	.sans-black { font-family: $sans-black; }

	.sans-demi  { font-family: $sans-demi; }
	.sans-demiItal  { font-family: $sans-demiItal; }

	.text-prim  { color: $color-primary !important; }
	.text-sec   { color: $color-secondary !important; }
	.text-tert  { color: $color-tertiary !important; }
	.text-mint  { color: $mint !important; }
	.text-tealAlt  { color: $tealAlt !important; }

	p           { font-family: $sans; font-size: rem(18); line-height: rem(24); }
	p.sm-body   { font-size: rem(14); line-height: rem(20); }
	p.lg-body   { font-size: rem(16); line-height: rem(22); }
	.footnote   { font-family: $sans; font-size: rem(10); line-height: rem(15); color: $greyDk; }
	.data-source{ font-family: $sans; font-size: rem(14); line-height: rem(20); color: $blackLt; }
	


	a  {
		color: $magenta;
		font-family: $sans-bold;
		@include transition(all 0.3s ease-in-out);

		&:hover, &:focus {
			text-decoration: underline;
			color: darken($magenta, 9% ); 

		}

	}

// headers type 
	h1, h2, h3, h4, h5, h6 {
		font-family: $font-secondary;
	}

	h1 { font-size: rem(40); line-height: rem(46); }
	h2 { font-size: rem(34); line-height: rem(41); }
	h3 { font-size: rem(28); line-height: rem(36); }
	h4 { font-size: rem(22); line-height: rem(28); }
	h5 { font-size: rem(20); line-height: rem(26); }
	h6 { font-size: rem(18); line-height: rem(24); }

	.grad-border {
		z-index: 5 !important;
		&.center {
			&:before {
				content: '';
				height: rem(4);
				width: rem(100);
				position: absolute;
				left: calc((100% - 100px) / 2);
				margin-top: -20px;
				@include css-gradient($mint,$color-stop-4);
			}
		}
		&.left { 
			&:before {
				content: '';
				height: rem(4);
				width: rem(100);
				position: absolute;

				margin-top: -20px;
				@include css-gradient($mint,$color-stop-4);
			}
		}
		&.white{
			&:before{
				@include css-gradient($mint,$mint);
			}
		}
	}

	.text-why {
		font-size: rem(20); line-height: rem(26);
	}

// nav header
	.top-nav {
		min-height: rem(84);
		padding: 0 0;

		&#nav-home,
		&#nav-page {
			background-color: $white;

			.navbar-toggler {
				border:0 none transparent;
				width: rem(46);
				height: rem(46);
				padding: 0 0 0 0;			
					
					&:before {
						content: $icon-menu-46x46;
						font-size: rem(46);
						color: $blackLt;
						
						// position: absolute;

						font-family: '#{$icomoon-font-family}' !important;
						speak: never;
						font-style: normal;
						font-weight: normal;
						font-variant: normal;
						text-transform: none;
						line-height: 1;

						/* Better Font Rendering =========== */
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;

						@include transition(all 0.3s ease-in-out);


					}

					&:hover {
						&:before {
							color: $magenta;
						}
					}

					&:focus {
						&:before {
							color: $blackLt;
						}
					}

					&[aria-expanded="true"] {
						&:before {
							content: $icon-close-menu-46x46;
						}
						&:hover {
							&:before {
								color: $magenta;
							}
						}
					}

				
			}
			// nav guts : BEGIN
				#navbarScroll {
					&.navbar-collapse {
						position: absolute;
						top: 84px;
						right: -385px;
						

						&.show {
							position: absolute;
							top: 84px;
							right: 0;
							background-color: $white;
							width: 385px;
							min-width: 385px;
							max-width: 385px;
							height: 100vh;
							overflow-y: hidden;
							z-index: 1500;
							transition: right 0.3s ease;
							padding: rem(20) rem(50);
							border-top: 1px solid $greyUlLt;

							.navbar-nav {
								.nav-item { padding: rem(15) 0;
									&.dropdown {
										.dropdown-menu {
											&.show {
												li {  padding: rem(3) 0; }
											}
										}
									}
								}
							}
						}
						&.show.collapsing { transition: right 0.3s ease; }
					}
					.navbar-nav {
						.nav-item {
							
							.nav-link {
								font-family: $font-secondary;
								font-size: rem(16);
								line-height: rem(19);
								color: $blackLt;
								padding: rem(8) rem(12.5);
								transition: color 0.3s ease-in-out;
							}
							&.dropdown {
								.dropdown-menu {
									margin: 0.125rem 0 0;
									border-radius: 0;
									padding: 0 0;
									
									&.show {
										border: 0px solid $white;
											
											li {
												margin: rem(10) 0;
												

												.dropdown-item {
													font-family: $sans-demi;
													font-size: rem(14);
													line-height: rem(17);
													color: $blackLt;
													transition: color 0.3s ease-in-out;
												}

												&:hover {
													background-color: $white;

													.dropdown-item {
														color: $magenta;
														background-color: $white;
													}
												}
											}
									}
								}
							}
							&:hover, &:focus {
								.nav-link {
									color: $magenta;
								}
							}

						}
					}
				}
				.cta-buttons {
					.nav-item {
						.get-started {
							min-width: rem(140);
						}
						.log-in {
							min-width: rem(140);
							.grad-inside {
								min-width: rem(136);
								padding-left: rem(10);
								padding-right: rem(10);	
							}
						}
					}
				}
			// nav guts : END
		}

		// logo differences : BEGIN
			&#nav-home {

				.mindup-logo {
					border: 1px solid #0f0;
					background-image: url(#{$imgs-path}logocard-mindup-for-life@1x.svg);
					background-size: contain;
					background-position: center;
					background-repeat: no-repeat;
					height: rem(75);
					width: rem(120);
					position: relative;
				}
			}
			&#nav-page {
				.mindup-logo {
					// border: 1px solid #c0c;
					// background-image: url(#{$imgs-path}logocard-mindup-for-life@1x.svg);
					// background-size: contain;
					// background-position: center;
					// background-repeat: no-repeat;
					height: rem(75);
					width: rem(120);
				}
			}
		// logo differences : END
	}

// background
	.bg-mint 	{ background-color: $mint; }
	.bg-mintV 	{ background-color: $mintV; }
	.bg-mintRGB 	{ background-color: $mintRGB; }
	.bg-mintHSL 	{ background-color: $mintHSL; }

	.bg-teal 	{ background-color: $teal; }
	.bg-yellow 	{ background-color: opacify($yellowA, 0.5); }
	.bg-white 	{ background-color: $white; }
	.bg-magenta { background-color: $magenta; }
	.bg-blue 	{ background-color: $blue; }
	.bg-sky		{ background-color: $sky; }
	.bg-skyA 	{ background-color: opacify($skyA, 0.5); }

	.bg-greylt		{ background-color: $greyLt; }
	.bg-greyultralt		{ background-color: $greyUlLt; }

	.bg-grad-50-mint	{ @include gradient-split($white, $mint, 0deg); }
	.bg-grad-50-teal	{ @include gradient-split($white, $teal, 0deg); }
	.bg-grad-50-yellow	{ @include gradient-split($white, opacify($yellowA, 0.5), 180deg); }
	.bg-grad-50-magenta	{ @include gradient-split($white, $magenta, 180deg); }
	.bg-grad-50-blue	{ @include gradient-split($white, $blue, 180deg); }
	
	.bg-grad-full-magenta	{ @include gradient-one($magentaAlt-2, $blue, 135deg); }
	.bg-grad-full-mint		{ @include gradient-one($mint, $blue, 135deg); }

	.bg-grad-1of2		{ @include gradient-one($magentaAlt-2, $color-stop-2, 135deg); }
	.bg-grad-2of2		{ @include gradient-one($color-stop-3, $blue, 135deg); }

	.bg-grad-1of3		{ @include gradient-one($magentaAlt-2, #8E42FF, 90deg); }
	.bg-grad-2of3		{ @include gradient-one(#8E42FF, #6800D8, 90deg); }
	.bg-grad-3of3		{ @include gradient-one(#6800D8, $blue, 90deg); }

// blockquotes
	.blockquote-container {
		background-color: $blue;
		border-radius: rem(40);
		padding: 30px 28px 20px 28px;

		&:before, &:after {
			content: "";
			// border: 1px solid #c0c;
			position: absolute;
			width: 44px;
			height: 26px;
			color: $mint;
			font-size: 26px;

			font-family: '#{$icomoon-font-family}' !important;
			speak: never;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		&:before {
			content: $icon-openquote;
			top: 0;
			left: -23px;
		}
		&:after {
			content: $icon-endquote;
			bottom: 0;
			right: -23px;
		}

		blockquote {
			font-family: $sans-book;
			text-align: center;
			color: $mint;
			font-size: rem(18);
			line-height: rem(24);
		}
		p.attribute {
			font-family: $sans-demiItal;
			font-weight: bold;
			color: $mint;
			text-align: center;
			font-size: rem(16);
			line-height: rem(20);
			margin-bottom: 0;
		}
	}

// sections & dividers & section padders
	.padded-top-40, .padded-40 { padding-top: rem(20); }
	.padded-bottom-40, .padded-40 { padding-bottom: rem(20); }

	.padded-top-65, .padded-65 { padding-top: rem(45); }
	.padded-bottom-65, .padded-65 { padding-bottom: rem(45); }

	.padded-top-80, .padded-80 { padding-top: rem(50); }
	.padded-bottom-80, .padded-80 { padding-bottom: rem(50); }

	.header-home {
		margin-bottom: 56px;
		&:after {
			content: '';
			background-image: url(#{$imgs-path}ui/dividers/mint-divider-bottom.svg);
			background-repeat: no-repeat;
			overflow-x: hidden;
			background-position: top -35px center;
			background-size: cover;
			width: 100%;
			height: rem(86);
			position: absolute;
			left: 0;
			margin-top: rem(46);
		}
		h1 { font-size: rem(24); line-height: rem(28); }
		p  { font-family: $sans; font-size: rem(20); line-height: rem(24); }
	}

	.header-pages {

		.mission, .for-schools, .for-families {
			margin-top: rem(109);
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			width: 100%;
			height: rem(105);
		}

		.mission {
			background-image: url(#{$imgs-path}logocard-mindup-for-life@1x.svg);
		}

		.for-schools {
			background-image: url(#{$imgs-path}logocard-mindup-for-schools.svg);
		} 

		.for-families {
			background-image: url(#{$imgs-path}logocard-mindup-for-families.svg);
		} 


		&:before {
			content: '';
			background-image: url(#{$imgs-path}ui/dividers/gradient-header.svg);
			background-repeat: no-repeat;
			overflow-x: hidden;
			background-position: top center;
			background-size: 100%;
			width: 100%;
			height: rem(58);
			position: absolute;
			left: 0;
			// margin-top: rem(46);
		}

	}

	.header-video {
		// margin-top: rem(16);
		// margin-bottom: 0;

		// width: 100%;
		// max-height: rem(169);
	}

	.goldie-section {
		.goldie-headshot {
			background-image: url(#{$imgs-path}goldie-hawn-bluestroke.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			height: rem(242);
			width: rem(242);

			@include image-2x('#{$imgs-path}goldie-hawn-bluestroke@2x.png', 242px, 242px);
		}
		.goldie-attr-border {
			height: rem(90);
			width: rem(268);
			margin-top: -40px;
			@include css-gradient($mint,$color-stop-4);

			.goldie-attr {
				height: rem(80);
				margin-top: 5px;
				padding-top: 5px;
				background-color: $white;
				p.name { font-size: rem(20); line-height: rem(24); margin-bottom: rem(7); }
				p.title { font-size: rem(16); line-height: rem(19); margin-bottom: 0; }
			}
		}
		.content { font-size: rem(16); line-height: rem(22); }
	}

	#expert-section, #case-study {
		.title-back {
			h1 { margin-bottom: 0; font-size: rem(34); line-height: rem(41); }
			h2.sub-header { color: $blackLt; margin: rem(34) 0; font-size: rem(19); line-height: rem(23); }
		}
		.expert-head {
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			

			width: rem(307);
			height: rem(307);
			border-radius: 50%;
		}
		.expert-side { font-size: rem(19); line-height: rem(23); }
		ul {
			&.expertise-list { padding-left: rem(20);
				// border: 1px solid #c0c;
				li {
					// border: 1px solid #0f0;
					font-size: rem(14);
					line-height: rem(17);
					font-family: $sans-demi;
					margin-left: rem(11);
					margin-bottom: rem(37);
					list-style: none;

					&:before {
						content: '';
						background-color: $teal;
						width: rem(4);
						height: rem(4);
						position: absolute;
						left: 17px;
						margin-top: 6px;
						border-radius: 50%;
					}
				}
			}
		}
		
		.expert p, .case-study p { color: $blackLt; font-family: $helvetica; font-size: rem(17); line-height: rem(24); }
		
		/* case study */
		  .case_study_heading {
		    color: #FF15D8;
		    font-size: 30px;
		    font-weight: bold;
		    letter-spacing: 0;
		    line-height: 34px;
		    margin-top: rem(70);
		  }
		  
		  .respondents {
		    color: $blackLt;
		    font-size: 17px;
		    letter-spacing: 0;
		    line-height: 22px;
		    padding-left: rem(20);
		  }
		  .case-study .respondents li {
		    color: $blackLt; font-family: $helvetica; font-size: rem(17); line-height: rem(22); margin-bottom: rem(10);
		  }

		  .case-study .respondents{
		    width: 100%;
		    height: auto;
		  }

		/* case study */


	}

	// Directors
		#board-directors, #board-science, #team {
			.video-header-container {
				.video-header-bar {
					background-position: top center;
					background-repeat: no-repeat;
					background-size: cover;
					border-radius: rem(10);
					width: 100%;
					height: rem(100);

					&:before {
						content: $icon-video-60x60;
						color: $white;
						font-size: 60px;
						background-color: opacify($whiteA, 0);
						border-radius: 50%;
						// border: 1px solid #c0c;
						width: rem(60);
						height: rem(60);
						position: absolute;
						top: calc((100%) - (160px / 2));
						left: calc((50%) - (60px / 2));
						@include transition(background-color 0.3s ease-in-out);

						font-family: '#{$icomoon-font-family}' !important;
						speak: never;
						font-style: normal;
						font-weight: normal;
						font-variant: normal;
						text-transform: none;
						line-height: 1;

						/* Better Font Rendering =========== */
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
					}
				}

				&:hover, &:focus {
					.video-header-bar {
						&:before {
							content: $icon-video-hover-60x60;
							color: $magenta;
							background-color: opacify($whiteA, 1);
						}
					}
				}
			}

		}
		#board-directors {
			.video-header-container { 
				.video-header-bar {
					background-image: url(#{$imgs-path}/video-thumb-BOD.png);
				}
			}
		}

		#board-science {
			.video-header-container { 
				.video-header-bar {
					background-image: url(#{$imgs-path}/video-thumb-ScientificAdvisors.png);
				}
			}
		}

		#team {
			.video-header-container { 
				.video-header-bar {
					background-image: url(#{$imgs-path}/video-thumb-Team.png);
				}
			}
		}

	.educational-section {
		h4 { font-size: rem(24); line-height: rem(28); }
		.icon-neuroscience-88x88, .icon-positivepsych-88x88,
		.icon-socialemolearning-88x88, .icon-mindfulawareness-88x88 { font-size: rem(120); }
	}

	.brain-section {
			&:before {
				content: "";
				background-image: url(../imgs/ui/dividers/brain-divider.png);
				background-repeat: no-repeat;
				/* overflow-x: hidden; */
				background-position: bottom center;
				background-size: 100% 100%;
				width: 100%;
				height: 90px;
				position: absolute;
				top: 0;
				background-color: $magenta;
				left: 0;
			}
			&.brain-mint {
				&:before {
					background-color: $mint;
				}
			}
	}

	.chart-section {
			padding-top: 90px;

			* { z-index: 2; }

		.chart-value {
			.eighty-six,
			.eighty-eight,
			.eighty-three {
				background-repeat: no-repeat;
				background-position: center center;
				background-size: contain;
				height: rem(160);
				width: rem(160);
				.chart-number {
					color: $blue;
					font-family: $sans-bold;
					font-size: rem(46);
					line-height: rem(55);
					margin-top: 10px;
					width: rem(160);
					text-align: center;
				}
			}
			.eighty-six {
				background-image: url(#{$imgs-path}chart_86.png);

			}
			.eighty-eight {
				background-image: url(#{$imgs-path}chart_88.png);

			}
			.eighty-three {
				background-image: url(#{$imgs-path}chart_83.png);

			}
		}

		.chart-text {
			font-size: rem(18);
			line-height: rem(22);
		}
	}



	.member-number-section {
		.number-container{
			height: rem(69);
			margin-bottom: 0;
			.numbers {
				font-size: rem(36);
				line-height: rem(36);
				width: rem(69);
				height: rem(69);
				background-color: $blue;
				border-radius: 50%;
				text-align: center;
				padding: rem(10) rem(23) rem(10) rem(23);

			}
		}
	}

	// membership page
		.member-bar-1,
		.member-bar-2,
		.member-bar-3 {
	 		min-height: rem(88);
	 		border-radius: rem(10);
	 		
	 		.inner-bar-left,
	 		.inner-bar-right {
	 			p { margin-bottom: 0; }
	 		}
	 		.inner-bar-left { padding-left: 0; p { font-size: rem(20); line-height: rem(24); } } 
	 		.inner-bar-right { padding-right: 0; }

	 }

	 .member-bar-1 { @include gradient-one($magentaAlt-2, $color-stop-2, 180deg); }
	 .member-bar-2 { @include gradient-one($color-stop-3, $blue, 180deg); }

	 .member-blurb { font-size: rem(16); line-height: rem(22); padding-bottom: rem(30); }

	// research page
		.ven-group {
			margin: 20px 0;
			.ven-circle {
				width: rem(232);
				min-width: rem(232);
				max-width: rem(232);
				height: rem(232);
				border-radius: 50%;
				background-color: opacify($blueA, 0.8);
				margin: -10px; 

				display: flex;
				justify-content: center;
				align-content: center;

				.ven-text {
					display: flex;
					justify-content: center;
					align-self: center;
					width: rem(146);
					color: $white;
					text-align: center;

					p {
						font-size: rem(16);
						line-height: rem(20);
						color: $white;
						text-align: center;
						margin-bottom: 0;

					}

				}
			}
		}

	.rounded-cta {
		padding: rem(20);
		border-radius: rem(40);
	}

	.donate-logos {
		max-width: rem(232);
		.cc-comp {
			background-position: center;
			background-size: contain;
			background-repeat: no-repeat;
			height: rem(26);
			width: calc(232px / 5);
			// border: 1px solid #c0c;

			&.visa { background-image:  url(#{$imgs_path}donatelogos-visa@2x.png); }
			&.mc   { background-image:  url(#{$imgs_path}donatelogo-mastercard@2x.png); }
			&.disc { background-image:  url(#{$imgs_path}donatelogo-discover@2x.png); }
			&.amx  { background-image:  url(#{$imgs_path}donatelogos-amex@2x.png); }
			&.pp   { background-image:  url(#{$imgs_path}donatelogos-paypal@2x.png); }
		}
	}


	.top-blue-wave {
		margin-top: 86px;
		&:before {
			content: '';
			background-image: url(#{$imgs-path}ui/dividers/blue-divider.svg);
			background-repeat: no-repeat;
			overflow-x: hidden;
			background-position: bottom -5px center;
			background-size: 100% auto;
			width: 100%;
			height: rem(86);
			position: absolute;
			left: 0px;
			top: -86px;
		}		
	}

	.sel-section { 
		min-height: rem(443);
		max-height: rem(473);

		h5 { font-size: rem(18); line-height: rem(24); }
	}

	.sel-bubble-img {
		background-image: url(#{$imgs-path}bubbleimg-SEL.png);
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		width: rem(346);
		height: rem(286);
		position: absolute;
		left: calc((50%) - (346px / 2));
		top: -160px;

		@include image-2x("#{$imgs-path}bubbleimg-SEL@2x.png", rem(346), rem(286));
	}

	.bubble-img {
		max-width: rem(324.3);
		max-height: rem(268);
	}

	.casel-img { max-height: rem(215); }

	// founder-message 
		#founder-message {
			.goldie-headshot {
				max-width: rem(250);
				max-height: rem(250);
			}
		}

	.top-mint-wave {
		margin-top: 86px;
		&:before {
			content: '';
			background-image: url(#{$imgs-path}ui/dividers/mint-divider.svg);
			background-repeat: no-repeat;
			overflow-x: hidden;
			background-position: bottom -5px center;
			background-size: 100% auto;
			width: 100%;
			height: rem(86);
			position: absolute;
			left: 0px;
			top: -86px;
		}
	}

	.bottom-mint-wave {
		margin-bottom: 86px;
		&:after {
			content: '';
			background-image: url(#{$imgs-path}ui/dividers/mint-divider-bottom.svg);
			background-repeat: no-repeat;
			overflow-x: hidden;
			background-position: top -5px center;
			background-size: 100% auto;
			width: 100%;
			height: rem(86);
			position: absolute;
			left: 0px;
			bottom: -86px;
		}
	}

	.top-sky-wave {
		margin-top: 86px;
		&:before {
			content: '';
			background-image: url(#{$imgs-path}ui/dividers/sky-divider.svg);
			background-repeat: no-repeat;
			overflow-x: hidden;
			background-position: bottom -5px center;
			background-size: 100% auto;
			width: 100%;
			height: rem(86);
			position: absolute;
			left: 0px;
			top: -86px;
		}
	}

	.mission-blocks {
		.mission-block {
			padding: rem(40);
			border-radius: rem(40);

			.mission-block-list {
				padding-left: 20px;

				li { font-size: rem(19); line-height: rem(26); }
			}
		}
	}

	.contact_links{
		.contact_links_wrapper{
			margin-bottom: 30px;
			.contact_links_figure{
				margin: 0;
				margin-right: 20px;
				min-width: 98px;
				height: 98px;
				background-color: $mint;
				border-radius: 50%;
				img{
					max-width: 59px;
				}
				span { &:before { font-size: rem(59); } }
			}
			.contact_links_heading{
				color:  $blackLt;
				font-size: 18px;
				font-weight: bold;
				letter-spacing: 0;
				line-height: 24px;
			}
			.contact_links_mail{
				color: $magenta;
				font-size: 18px;
				font-weight: bold;
				letter-spacing: 0;
				line-height: 24px;	
			}
			.contact_links_para{
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 0;
				line-height: 18px;
			}
			.contact_links_social{
				list-style: none;
				li{
					margin-right: 10px;
					img{
						width: 30px;
						height: 30px;
					}
				}
			}
		}
	}

	/* mindup families */
	  .bg_parent_tip{
	    background-color: #004BFF;
	  }
	  .mind-up-helps-familie {
	    color: #111111;
	    font-size: 18px;
	    font-weight: 500;
	    letter-spacing: 0;
	    line-height: 24px;
	  }
	  .goldie-explains-how {
	    color: #004BFF;
	    font-size: 24px;
	    font-weight: bold;
	    letter-spacing: 0;
	    line-height: 29px;
	    text-align: center;
	  }
	  .learn-more-from-our {
	    color: #111111;
	    font-size: 36px;
	    font-weight: bold;
	    letter-spacing: 0;
	    line-height: 43px;
	  }
	  .parent_tip_header {
	    color: #004BFF;
	    font-size: 24px;
	    font-weight: bold;
	    letter-spacing: 0;
	    line-height: 28px;
	  }
	  .parent_tip_para {
	    color: #111111;
	    font-size: 16px;
	    font-weight: 500;
	    letter-spacing: 0;
	    line-height: 22px;
	  }
	  .the-brain-break-help {
	    color: #111111;
	    font-size: 18px;
	    font-weight: 500;
	    letter-spacing: 0;
	    line-height: 24px;
	  }

	  .border_radius{
	    border-radius: 10px;
	  }
	  .families-video{
	    width: 100%;
	    height: auto;
	  }
	/* mindup families */

// member cards
	.membership-cards {
		// max-width: rem(356);
		.row {
			.col {
				.card {
					border-radius: rem(10);

					.card-header {
						padding: rem(51) rem(8) rem(19) rem(8);
						h4 { font-family: $font-secondary; font-size: rem(22); line-height: rem(26); height: 48px; margin-bottom: 14px; }
					}

					.card-body {
						padding: 0 0;
						h5 { font-family: $font-secondary; font-size: rem(18); line-height: rem(22); margin-bottom: rem(10); }
						li { font-family: $font-primary; font-size: rem(14); line-height: rem(20);  padding-right: 20px; margin-bottom: rem(20);
							&:last-child { margin-bottom: 0;}
						}
						
					}

					.card-footer { 
						padding: 0 0 rem(30) 0;
						.btn-white { margin: rem(8) 0;}
					}
				
					&.lone-card {
						.card-header { border-bottom: 1px solid $white; }
					}
				}
			}
		}

		&.icon-heads {
			.row {
				.col {
					.card {
						.card-header {
							padding: rem(19) rem(8) rem(19) rem(8);
							.card-head-container {
								height: rem(48);
								display: flex;
								justify-content: center;
								align-items: center;

								h4 { height: unset; }
							}
						}
						.card-body {
						padding: 0 rem(24);
							p { font-family: $font-primary; font-size: rem(14); line-height: rem(18); }
						}

					}
				}
			}
		}
	}

// new founder columns
			.home-back {
				padding: rem(68) 0;
				//margin: rem(68) 0;
				background-image: url(#{$imgs-path}brain-partial-default.png);
				background-size: 355px 182px;
				background-position: bottom right;
				background-repeat: no-repeat;

			}
			
			.no-back {
				padding: rem(34) 0;
				margin: 0 0;
			}

			.color-back,
			.gradient-back-mint,
			.gradient-back-magenta {
				padding: rem(68) 0;
				margin: 0 0;
			}

			h2 {
				font-family: $font-secondary;
				&.large-pink   { color: $color-primary; font-size: rem(23); line-height: rem(28); }
				&.small-pink   { color: $color-primary; font-size: rem(23); line-height: rem(28); } 
				&.small-black  { color: $blackLt; font-size: rem(23); line-height: rem(28); }
				&.gradient-head {
					@include css-gradient($mint, $blue, 130deg);
					color: $blackLt;
					font-size: rem(30);
					line-height: rem(30);
					width: 100%;
					text-align: center;
					margin: 0 0;
					padding: rem(36) rem(30);

				}
			}
			.color-back {
				background-color: $mint;
			}
			.gradient-back-mint {
				@include css-gradient($mint, $blue, 130deg);
			}

			.gradient-back-magenta {
				@include css-gradient($magenta, $blue, 130deg);
			}
			.new-founder-columns {
				@extend %new-founder-columns;
				.card-col {
					margin: 0 0 rem(17) 0;
					.card {
						margin: rem(17) 0 rem(17) 0;
						min-width: rem(307);

						.card-footer {
						  p {
						  	.btn-grad-1 {
						  		font-size: rem(12);
						  		line-height: rem(12);
						  	}

						  }
						  .btn { margin: 0; }
						}
					}
				}
				&.logo-cards, &.header-cards {
					.card-col { 
						.card {
							min-width: unset;
						}
					}
				}
				&.expert-cards {
					.card-col {
						.card { min-width: unset;}
					}
				}

				
			}

// footer
	.footer-slider {
		padding: rem(50) 0 rem(20) 0;
		.quote-text { font-size: rem(16); line-height: rem(20); font-family: $sans; }
		.accred-name { font-size: rem(14); line-height: rem(18); font-family: $sans; }
		.accred-title { font-size: rem(14); line-height: rem(18); font-family: $sans-bold; }
	}

	footer {
		background-image: url(#{$imgs-path}brain.png);
		background-repeat: no-repeat;
		background-size: 408px 408px;
		background-position: bottom -240px center;
		padding-top: 20px;
		padding-bottom: 122px;

		.social-nav {
			padding: 0 0;

			.nav-item {
				margin: 0 0;

				.nav-link {
					span { color: $blackLt; }
				}

				&:hover, &:focus {
					.nav-link {
						span { color: $blackLt; }
					}	
				}
			}
		} 

		.footer-nav-chunk {
			max-width: 460px;
			h6 { font-size: rem(16); line-height: rem(19); }
			.footer-nav {
				padding: 0 0;
				.navbar-nav {

					.nav-item {
						margin: 0 0;
						.nav-link {
							font-family: $sans;
							font-size: rem(14);
							line-height: rem(17);
							color: $blackLt;
							margin: 0 0;
							padding: rem(5) 0 
						}
					}
				}
			}
			.button-nav {
					padding: 0 0;
				.navbar-nav {
					.nav-item {
						margin: 0 0;
						a {
							font-size: rem(14);
							line-height: rem(17);
						}
						
						.get-started {
							min-width: rem(140);
						}
						.log-in {
							min-width: rem(140);
							.grad-inside {
								min-width: rem(136);
								padding-left: rem(10);
								padding-right: rem(10);	
							}
						}
						.donate { min-width: rem(160); }
					}
				}
			}
		}

		.copyright-info {
			padding: 0 0;
			.nav-item {
				margin: 0 0;
				.nav-link, .navbar-text {
					font-family: $sans;
					font-size: rem(12);
					line-height: rem(14);
					color: $blackLt;
				}
			}
		}
	}

// mindup program 
	.program_section{
		padding-bottom: 60px;
		.program_section_heading{
			color: $blackLt;
			font-weight: bold;
			letter-spacing: 0;
			font-size: 40px;
			line-height: 48px;
			margin-bottom: 30px;
			margin-top: 60px;

			
		}
		.program_section_para{
			color: $blackLt;
			font-size: 20px;
			font-weight: bold;
			letter-spacing: 0;
			line-height: 26px;
			margin-bottom: 40px;
		}
		&:before {
			background-position: bottom -5px center;
		}
	}
	.pillar-blocks{
		padding: 70px 0px 20px;
		// background-image: none;
		.pillar-blocks_heading{
			font-size: 34px;
			font-weight: bold;
			letter-spacing: 0;
			line-height: 41px;
			margin-bottom: 40px;
		}
		.mission-blocks{
			.mission-block{
				padding: 20px 17px 30px;
				border-radius: 40px;
			}
			.mindup_program_header{
				color: $magenta;
				font-size: 24px;
				font-weight: bold;
				letter-spacing: 0;
				line-height: 29px;
				margin-bottom: 5px;

				.icon-neuroscience-88x88, .icon-positivepsych-88x88,
				.icon-socialemolearning-88x88, .icon-mindfulawareness-88x88 {
					font-size: rem(100);
					line-height: rem(100);
				}

				.icon-neuroscience-88x88{
					margin-right: 5px;
					&before{
						color: $magenta; 
					}
					
				}
			}
			.mindup_program_para{
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 0;
				line-height: 20px;
			}
		}
	}
	.pillars-section{
		padding-top: 90px;
		// *{
		// 	z-index: 2;
		// }
		// &::before{
		// 	content: "";
		// 	background-image: url(../imgs/ui/dividers/brain-divider.png);
		// 	background-repeat: no-repeat;
		// 	/* overflow-x: hidden; */
		// 	background-position: bottom center;
		// 	background-size: 100% 100%;
		// 	width: 100%;
		// 	height: 90px;
		// 	position: absolute;
		// 	top: 0;
		// 	background-color: $magenta;
		// 	left: 0;
		// }
		.mind-up-research-pill{
			color: $magenta;
			font-size: 22px;
			font-weight: bold;
			letter-spacing: 0;
			line-height: 26px;
			text-align: center;
			margin-bottom: 27px;
		}
		.pillar-section_wrapper{
			max-width: 710px;
			margin: 0 auto 40px;
			.pillars-section_img{
				margin-right: 20px;
				width: 60px;
				height: 60px;
			}
			.pillars-section_para{
				color:  $blackLt;
				font-size: 16px;
				letter-spacing: 0;
				line-height: 20px;
			}
		}
	}
	/* mindup program */


// Contact Page 
	.contact-page{
		padding: 42px 20px 100px;  
		.contact-page_heading{
			color:  $blackLt;
			font-size: 40px;
			font-weight: bold;
			letter-spacing: 0;
			line-height: 48px;
			margin-top: 20px;
			margin-bottom: 50px;
		}
		.membership-cards{
			width: 100%;
			max-width: 100%;
			margin-bottom: 30px;
			display: flex;
			flex-direction: column;
			.membership-card{
				margin-bottom: 30px;
				.card{
					background: linear-gradient(180deg, #D600B3 0%, #6236F0 100%);
					padding: 21px 12px 30px;
					align-items: center;
					border-radius: 34px;
					img{
						height: 82px;
						width: 82px;
						margin-bottom: 13px;
					}
					.card-title{
						font-size: 18px;
						letter-spacing: 0;
						line-height: 23px;
						margin-bottom: 27px;
					}
					a{
						padding: 9px 27px;
						font-size: 16px;
						letter-spacing: 0;
						line-height: 18px;				
					}
				}
				&:nth-child(2){
					.card{
						background: linear-gradient(180deg, #962BE8 0%, #004BFF 100%);
					}
				}
			}
		}

		
	}
	/* Contact Page */

// Modal
	


	#videoModal {}

	.modal-backdrop {
		background-color: $blackLt;
		&.show { opacity: 0.95; }
	}

// Video Modal
.modal{
	.modal-body{
		.play_icon{
			position: absolute;
			top: 0;
			left: 0;
			margin: auto;
			bottom: 0;
			right: 0;
		}
	}
}	

// 
.footer-slider{
	padding: 40px 60px 60px;
 	.carousel-inner{
 		.carousel-item{
	 		.slider-description{
	 		  color: #FFFFFF;
			  font-family: $sans;
			  font-size: 14px;
			  font-weight: 500;
			  letter-spacing: 0;
			  line-height: 18px;
			  text-align: left !important;
			  margin: 0px 0px 20px;
	 		}
	 		.slider-author{
	 			  color: #FFFFFF;
				  font-family: $sans;
				  font-size: 14px;
				  font-weight: 500;
				  letter-spacing: 0;
				  line-height: 18px;
				  text-align: center;
	 		}
 		}
 	}  
 	.carousel-indicators{
 		bottom: -63px !important;
 		li{
 			    width: 8px !important;
    			height: 8px !important;
    			border-radius: 50% !important;
 		}
 	} 

 	.carousel-controls{
 		transition: linear 0.3s all;
 		background-image: url(#{$imgs-path}right-arrow-white.png);
 		height: 28px;
  		width: 28px;
	    background-size: contain;
    	background-repeat: no-repeat;
    	opacity: 1 !important;
    	top: 50% !important;
    	left: -40px;
    	transform: translate(0px, -50%) rotate(180deg);
    	&.carousel-control-prev{
    		transform: translate(0px, -50%);
    		left: auto;
    		right: -40px;
    	}
    	&:hover{
    		background-image: url(#{$imgs-path}right-arrow-hover.png);
    	}
 	}
}

.top-nav#nav-home .mindup-logo{
	border: none !important;
	z-index: 99999;
}
.page-template{
	&:not(.home){
	.top-nav#nav-home{
		a{
			display: inline-block;
			.mindup-logo{
				width: 120px;
				height: 74px;
				padding: 0;
				position: relative;
			}
		}
	}
	}
}
 
.hide{
	display: none;
}