/*
Theme Name: MindUp Base Site
Theme URI: https://www.social-ink.net
Description: Architecture, custom code and templating created by Social Ink
Version: 1
Author: Social Ink
Author URI: https://www.social-ink.net
*/


/*****************
LAYOUT
***********************************************/

.container_inner {

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.onepage {
    clear: both;
       padding: 0;
    margin-top: 2em;
    top: 46px;
    padding-bottom: calc(100vw / 4);
}

    .home .onepage .copy .text {
        min-width: 640px;
        max-width: 1040px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

.single.sfwd-lessons-template-default .onepage {
    top:0;
}

.sfwd-lessons-template-default .onepage {
    padding-bottom: calc(100vw / 4);
}

.onepage .nf-form-content {
    padding: 0;
}

.nf-form-fields-required {
    margin-bottom: 1em;
    font-size: .8em;
}

.single-sfwd-courses .onepage {
    margin-top: 0;
    
    padding-bottom: calc(100vw / 3);
}

.content {
    min-height: 300px;
}

.content .text {}

    .sfwd-quiz-template-default .content .text {
        max-width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .content .text .wpProQuiz_results p {
        max-width: 100%;
    }

.content.nosidebar {
    float: none;
    width: 100%;
}

.pageinfo {}

.coursepage-flexible {
    flex-wrap: nowrap;
}

.course-sidebar {
    border-left: 5px solid #ddd;
    padding-left: 1em;
}

video {
    max-width: 100%;

}

.home video {
    height: calc(100vw / 2.2);
}

#container {
    max-width: 100%;
    overflow-x: hidden;
   
}
/*****************
ALERTS and MESSAGES
***********************************************/

.socialink-alert {
    background: tomato;
    padding: .25em;
    color: #fff;
}

.mepr-unauthorized-message {
    margin: 2em 0;
}

.mp_wrapper textarea,
.mp_wrapper select,
.mp_wrapper input[type="text"],
.mp_wrapper input[type="url"],
.mp_wrapper input[type="email"],
.mp_wrapper input[type="tel"],
.mp_wrapper input[type="number"],
.mp_wrapper input[type="password"] {
    border: 1px solid #009dff;
}

/*****************
EXPANDERS
***********************************************/

.expander_section {}

.expander_section header a:after {
    content: ' +';
}

.expander_section header a:hover {
    color: inherit;
}

.expander_section header a.activated:after {
    content: ' -';
}


/*****************
TYPE
***********************************************/

h1,
h2,
h3,
h4,
h5 {
    margin-top: 0;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

p {
    font-size: 1em;
    margin-bottom: 1.5em;
    margin-top: 0;
    line-height: 1.5em;
    margin-top: 0;
}

.fancyfont {}

.pageinfo h1 {
/*     background-image: url('images/rule_title.svg'); */
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    font-size: 3em;
    line-height: 1.1;
}

.text {}

.text p {}

.text p:last-child {
    margin-bottom: 0;
}

.text h1 {}

.text h2 {}

.text h3 {}

.text ul {
    margin-bottom: 1em;
    margin-left: 0;
}

.text ul li {
    list-style-type: disc;
    margin-left: 1em;
    line-height: 1.4em;
}


/*****************
IMAGECOVERS
***********************************************/

.backgrounded_image {
    background-position: center center;
    background-size: cover;
    min-height: 400px;
    position: relative;
    width: 100%;
}

.backgrounded_image:before {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.backgrounded_image>div {
    position: relative;
}

p:last-child {
    margin-bottom: 0;
}

/*****************
LESSONS
***********************************************/

.single-sfwd-lessons .content.centering_box {
    max-width: 95%;
}

.single-sfwd-lessons .content .ld-tab-content img,
.single-sfwd-lessons .content .ld-tab-content p,
.single-sfwd-lessons .content .ld-lesson-status,
.single-sfwd-lessons .content .pageinfo {
    max-width: 1040px;
    margin: 0 auto;
}

.single-sfwd-lessons .content .ld-tab-content p {
    margin-bottom: 1em;
}


.single-sfwd-lessons .content .text {
    width: 100%;
    max-width: inherit;
}


/*****************
MODULES
***********************************************/

.socialink-modules-extra {
    margin: 2em 0;
}

.socialink-module:last-of-type {
   /*  padding-bottom: 6em; */
}

header.mainheader {
    padding: 1em;
    text-align: center;
}

header.mainheader h1 {

    font-size: 1.5em;
    margin: 0;
 display: flex;
 justify-content: center;
 align-items: center;
}



header.mainheader h1:before {
    content: '';
    background-image: url(images/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    float: left;
    width: 100px;
    height: 56px;
}

.socialink-module.module-heroimage {
/*     min-height: calc(100vw / 2); */
}

.socialink-module h2 {
    background-image: url('images/rule_blocktitle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    text-align: inherit;
    color: #000;
}

.socialink-module .slidecaption h2 {
    background-image: none;

}

/*****************
BASIC INPUT AND FORMS
***********************************************/

.mejs-controls {
  display: none !important;
  visibility: hidden !important;
  }

  ..mejs-container {
    background: #fff !important;
  }

.learndash-wrapper .ld-item-list .ld-item-list-item .ld-item-details .ld-certificate-link,
.learndash-wrapper .ld-progress .ld-progress-heading .ld-progress-stats .ld-progress-percentage {
    color: #5330F8;
}


.ld-course-list-items .ld_course_grid .thumbnail.course.socialink-courses-modified.learndash-incomplete .ld_course_grid_price,
.learndash-wrapper.learndash-widget .ld-progress .ld-progress-bar,
.learndash-wrapper .ld-progress .ld-progress-bar .ld-progress-bar-percentage,
.ld-progress-bar-percentage,
.wpcf7 input[type=submit],
input[type=submit],
.button,
.gradient-default {
    background: rgb(255, 102, 255);
    background: linear-gradient(90deg, rgba(255, 21, 216, 1) 0%, rgba(0, 75, 255, 1) 100%);
}

.mainheader.gradient-default {
    background: linear-gradient(90deg, #9ef3c7 0%, #004bff 100%);
}

#mepr-price-box-81,
.gradient-divided-1 {
    background: rgb(248,112,251);
    background: linear-gradient(90deg, rgb(250, 17, 255) 0%, rgb(145, 59, 255) 100%);
}

#mepr-price-box-62,
.gradient-divided-2 {
  background: rgb(145, 59, 255);
    background: linear-gradient(90deg, rgb(145, 59, 255) 0%, rgb(104, 0, 255) 100%);
}

.gradient-divided-3 {
  background: rgb(69,152,208);

background: linear-gradient(90deg, rgb(104, 0, 255) 20%, rgba(0,75,255,1) 100%);
}

input[type=text] {
    padding: .5em;
}

.ld-button,
.wpcf7 input[type=submit],
input[type=submit],
.button {
    border: 0 none;
    color: #fff;
    display: inline-block;
    padding: 0.5em 1.75em;
    border-radius: 40px;
    font-family: 'AvantGardeGothicITCW02Bd';
}

input[type=submit]:hover,
.button:hover {
    color: #fff;
    text-decoration: none;
    border: none;
    box-shadow: 0 0 10px 2px #04040466;
}

input[type=submit]:active,
.button:active {
    box-shadow: inset 0 0 1px #222;
    outline: 0;
}

input[type=submit]:focus,
.button:focus {
    outline: 0;
}

.topmenu .search_indicator {
    display: none;
}

.text blockquote {
    margin-top: 2em;
}

blockquote .button {
    font-style: normal;
    color: #fff;
    font-size: .65em;
}

.ld-course-list-items.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    max-width: 95%;
    margin: auto;
}

.learndash-wrapper .ld-item-list {
    max-width: 95%;
    margin: auto;
}

.ld-course-list-items .ld_course_grid .thumbnail.course img {
    max-height: 200px;
}

.learndash-wrapper .ld-alert {
        max-width: 95%;
    margin: auto;
    margin-bottom: 2em;
}

.learndash-wrapper .ld-alert-success {

    border-color: #fff;
    background-color: #9ef3c7;
}

.ld-item-title,
.ld-topic-title {
    font-family: 'AvantGardeGothicITCW02Bd';
    color: #000;
}

.learndash-wrapper .ld-table-list a.ld-table-list-item-preview:hover {
    color: #004bff;
}

.learndash-wrapper .ld-expand-button:hover {
    background-color: #000;
}

/*****************
MOBILE HEADER (used for search bar in mobile)
***********************************************/

.mobile_expansion {
    visibility: hidden;
}


.mobile_expansion+label.mobile_expand_search {
    border: none;
}

.mobile_expansion:checked+label {
    border: .2em solid;
    height: .78em;
    width: .78em;
    border-radius: 100%;
}

.mobile_expansion+label.icon-search {
    border: 0 !important;
    margin-top: -5px;
}


/*****************
NAV MENU MARKUP
***********************************************/

.menu_horizontal li {
    display: inline-block;
    list-style: none;
}


/*****************
HEADER
***********************************************/

#header {
width: 100%;
margin-bottom: 0;
position: fixed;
top: 0;
left: 0;
z-index: 400;
background: #9ef3c7;
}

.logged-in.admin-bar #header {
    top: 28px;
}

.desktop_only.header_inner {
    align-items: inherit;
    height: 84px;
}

.logo {
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    width: 100%;
    max-width: 250px;
}


.socialink-scrolling .logo {
    width: 100px;
    transition: all .052s ease;
    margin-top: 10px
}

.home .logo {
 /*    margin-top: -300px; */
}

.home #header {
    border-bottom: 0;
}

.home.socialink-scrolling .logo {

/*     margin-top: unset; */
    float: left;
}

.home.socialink-scrolling #header {

}

.logo .sink_img,
.logo img {
    width: 100%;
    /* for ie */
}

.topmenu {
    margin-left: auto;
     margin-top: 32px;
}

.socialink-scrolling .topmenu {

}

.topmenu ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.topmenu li {
    margin-right: 1em;
}

.topmenu li:after {}

.topmenu li.last_item {
    margin-right: 0;
}

.topmenu li a {
    color: #000;

}

.topmenu li[class*="current"] a,
.topmenu li:hover a {
    text-decoration: none;
}

ul.menu-logged-out {
    display: flex;
    align-items: center;
    margin-top: -57px;
}

ul.menu-logged-out li {
    font-family: 'AvantGardeGothicITCW02Bd';
    margin: 0;
}

ul.menu-logged-out li:first-child {
    margin-right: 1em;
}

.socialmedia {}

.socialmedia a {}

.wp-video {
    margin: auto;
}


/*****************
User Header
***********************************************/

.userfunctions-header {
  width: auto;
  margin-left: 2em;

}

.logged-in-user-0 .userfunctions-header  {
    margin-top: 84px;
}

.userfunctions-header .inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.userheader_overview {
    background: #fff685;
    padding: 1em;
    cursor: pointer;
    font-size: .7em;

    text-transform: lowercase;
    display: inline-block;
}

.userheader_more {
    min-width: 175px;
}

.socialink-scrolling .userheader_overview,
.userheader_overview:not(.home .userheader_overview) {
  
}

.userheader_overview span {
    display: block;
}

.userheader_overview .username {
    color: #000;
    text-decoration: underline;
}

.userheader_more {
display: none;
background: #EFF9F9;
padding: 1em;
font-size: .8em;
font-family: 'AvantGardeGothicITCW02Bd';
width: 100%;
position: absolute;
z-index: 50;
top: 0;
width: 200%;
top: 58px;
}

.mindup-userfunctions.opened .userheader_more {
    display: block;
}

.userheader_more ul {
    margin: 0;
}


.userheader_more ul li {
    margin-left: 0;
    margin-bottom: .45em;
    display: block;
}

.userheader_more p {
    margin-bottom: 0;
}

.userheader_more ul li a {
    text-decoration: none;
}

.userheader_more ul li a:hover {
    border-bottom: 1px solid #009dff;
}



/*****************
BACKGROUNDS
***********************************************/
.header-image-text {
    margin-bottom: 0;
    top: 84px;
    position: relative;
    /* background-image: url(images/bg_hero_split.png); */
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1em;
}


.header-image-text>.centering_box {
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.header-image-text-inner .col {
    width: 45%;
    
}

.header-image-text-inner .left {
        margin-right: 3%;
    font-size: 1.25em;
    padding-top: 2em;
}

.header-image-text-inner .textcol a.button {}

.header-image-text-inner h2 {
/*     background-image: url('images/rule_blocktitle.svg'); */
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    text-align: inherit;
    color: #000;
    font-size: 1.5em;
}

.herospot {
    background-position: center center;
    background-size: cover;
    height: 400px;
    height: calc(100vw / 2);
    overflow: hidden;
    position: relative;
    width: 100%;
    top: 80px;
}

.herospot + .onepage .pageinfo {
    margin-top: 2em;
}

body.home .herospot {
    height: calc(100vw / 2);
}

body.home .herospot.hero-embed {
    height: calc(100vw / 2.2);
}

body.home .herospot.hero-embed p {
    text-align: center;
}



.hero_caption {
position: absolute;
width: 100%;
bottom: 1%;
display: flex;
justify-content: center;
padding: 1em;
}

.hero-button a {
    padding: 1.25em 3em;
}
.hero-buttons {
    position: absolute;
    width: 100%;
    bottom: 5%;
    display: flex;
    justify-content: center;
    padding: 1em;
    flex-direction: column;
    align-items: center;
}

.hero-buttons > div {
    margin-bottom: 1em;
}


.herospot.contained {
    /* use this instead of height if the image is not full bleed; where the first number is the image height and the second number is the image width */
    /* padding-top: calc((460 / 1040) * 100%);*/
}

.herospot.semantic:before {
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.herospot.semantic>div,
.herospot.semantic>article,
.herospot.semantic>section {
    position: relative;
}

.slideinner {
    font-size: 1.2em;
}


.slides li {
    margin: 0;
    list-style: none
}

.slideshow_area {
    margin-top: -84px;
    margin-bottom: 3em;
    height: calc(100vw / 3);
}

.slidecaption {
    bottom: 5px;
    position: absolute;
    left: 5px;
    font-size: .5em;
    background: #fff;
        background-image: none;
    background-image: none;
    padding: 5px;

}



.slideshow_area div.slide {
    background-position: center center;
    background-size: cover;
    height: calc(100vw / 3);
    width: 100%;
    position: relative;
    overflow-x:  hidden;
}

    .subfooter .slideshow_area div.slide,
    .subfooter .slideshow_area {
        height: calc(100vw / 5)
    }

#header .slideshow_area {
    position: absolute;
    top: 0;
    height: 600px;
    left: 0;
    max-height: 600px;
}

#header .slideshow_area div.slide {
    max-height: 600px;
    height: 600px;
}


.slide_nav {
    color: #fff;
    font-size: 2em;
    left: 2%;
    position: absolute;
    z-index: 300;
    /* top: calc(100vw/5);*/
    top: 250px;
}

.slide_nav a:before {
    text-shadow: 1px 1px 3px #111;
}

.home .slide_nav {}

.slide_nav a {
    color: #fff;
}

.slide_nav a:hover,
.slide_nav a:active,
.slide_nav a:focus {
    text-decoration: none;
    color: #2D2C28;
}

.slide_nav.left {}

.slide_nav.right {
    left: auto;
    right: 2%;
}


.hero-none .onepage {
/*     background-image: url('images/default-background.png');
    background-repeat: no-repeat;
    background-size: contain; */
      animation: hueshifter 15s linear 1s infinite; /* animation-name followed by duration in seconds*/
}



@keyframes hueshifter {
  0% {

    background: rgba(255,197,255, 0);

  }

  15% {

    background: rgba(255,197,255, .25);

  }
  33% {

    background:rgba(158,243,199, .25);

  }
  60% {
    background: rgba(105, 201, 240, .25);

  }

  80% {
    background: rgba(255, 246, 133, .25);

  }

  90% {
    background: rgba(255,197,255, .25);

  }

  100% {
    background: rgba(255,197,255, 0);

  }
}

.hero-none .content {
background: #fff;
padding: 2em;
padding-top: 3em;
max-width: 1040px;
margin: auto;
/* min-height: 100vh; */
/* padding-bottom: 200px; */
}


/*****************
HOME
***********************************************/

.home .content {
    min-height: unset;
}

.home .pageinfo h1 {
    display: none;
}
.join-section {
    margin: 5em 0;
}

.join-section h1 {
    text-align: center;
    font-size: 2em;
}

.join-section .description {
    color: #66c;

    text-align: center;
    font-size: 1.1em;
}

.founders-columns .flexible {
    justify-content: space-around;
}

.founder_column {
    width: 48%;
    /* padding-bottom: 250px; */
}

.founder_column h1  {
    font-size: 2em;
}

.founder_column:nth-child(2)  .column_contents {
    font-size: .9em;
    background-image: url(images/bg_circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.founder_column  .column_contents iframe {
    width: 100%;
}

/*****************
PROFILE
***********************************************/

.ld-profile-summary {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.ld-profile-heading,
.ld-profile-edit-link {
    text-align: center
}

a.ld-profile-edit-link {
    display: block;
}

.socialink-profile .ld-profile-stat strong {
    color: #ff15d8;
}
.learndash-wrapper .ld-profile-summary .ld-profile-stats .ld-profile-stat span,
.socialink-profile .ld-profile-stat span {
    color: #000;
   font-family: 'AvantGardeGothicITCW02Bd';
}

.learndash-wrapper .ld-profile-avatar {
    width: 150px;
    height: 150px;
    border: 5px solid #e2e7ed;
}

.ld-profile-left {}

.ld-profile-right {
    margin-left: auto;
}

#ld-profile {
    display: flex;
}

.learndash-wrapper .ld-course-status .ld-status.ld-status-complete,
.learndash-wrapper .ld-status-complete,
.learndash-wrapper .ld-expand-button {
    background-color: #004bff;
}

.ld-course-title {
   font-family: 'AvantGardeGothicITCW02Bd';
    color: #000;
    margin-left: 1em;
}

.ld-item-name {
    align-items: center;
}

.ld-certificate-link {
    margin-left: 1em;
}

.learndash-wrapper .ld-table-list .ld-table-list-header {
    background-color: #004bff;
}

.learndash-wrapper .ld-tertiary-background {
    background-color: #636363 !important;
}

.learndash-wrapper .ld-expand-button.ld-button-alternate {

    color: #004bff;

}

.learndash-wrapper .ld-expand-button.ld-button-alternate .ld-icon {
    background: #004bff;
    }

    .learndash-wrapper .wpProQuiz_content .wpProQuiz_questionListItem label.is-selected, .learndash-wrapper .wpProQuiz_content .wpProQuiz_questionListItem label:focus-within {
        border-color: #004bff;
    }

    .learndash-wrapper .wpProQuiz_content .wpProQuiz_button, .learndash-wrapper .wpProQuiz_content .wpProQuiz_button2, .learndash-wrapper .wpProQuiz_content .wpProQuiz_certificate a.btn-blue {
        background-color: #004bff;
    }

    .learndash-wrapper .wpProQuiz_content a#quiz_continue_link {
        background-color: #9ef3c7;
        color: #111;
    }

    .learndash-wrapper .course_progress .sending_progress_bar {
        height: 7px;
        background: #9ef3c7;
    }

    .learndash-wrapper iframe #wrapper {
        background: #fff !important;
    }

         .mobile-start-overlay.shown {
        background: #004bff;
    }

/*****************
COURSE WIDGET
***********************************************/

.course-widget-header {
    width: 100%;
    margin-bottom: 2em;
    padding: 1.5em;
    margin-top: 80px;
}

.course-widget-header .expander_header {
    color: #fff;
    text-transform: uppercase;
}

.course-widget-header .expander_contents {
    margin-top: 1em;
}

.course-widget-header .flexible {}

.course-widget-header .flexible .col {
    width: 23%;
    background: #F6EEFC;
    padding: 1em;
   font-family: 'AvantGardeGothicITCW02Bd';
}

.course-widget-header .flexible .col p.lbl {
    color: #000;
    font-size: 1.1em;
}

.course-widget-header .ld-lesson-item-section-heading {
    display: none;
}

.course-widget-header .ld-progress-steps {
    margin-top: 1em;
    font-size: .9em;
}

.socialink-app-overwrite .ld-content-actions {
    background-image: url('images/rule_thin.svg');
    border: 0;
    background-repeat: no-repeat;
    background-position: top left;
    padding-top: 3em;
    margin-top: 2em;
}

.learndash-wrapper .ld-content-actions .ld-content-action .ld-course-step-back,
.socialink-app-overwrite .ld-course-step-back {


}

.socialink-app-overwrite .ld-course-step-back:before {
    content: '‹';
}

.learndash-wrapper .ld-breadcrumbs .ld-status.ld-status-progress {
    background: #9ef3c7;
    color: #10D;
}

.learndash-wrapper .ld-button {
    background-color: #004bff;
}

/*****************
ACCOUNT
***********************************************/

#mepr-account-welcome-message {
    display: none;
}

.mepr-nav-item a {
    color: #D6D6D6;
}

.mepr-account-change-password {
    color: #878282;
    font-size: .9em;
}

[class^="mepr"] a {
  color:inherit;
}

.mp_wrapper .mp-form-row,
.mp-form-row {
    margin-bottom: 2em;
}

div#mepr-account-nav {
    border-bottom: 1px solid #009dff;
    padding-bottom: 0;
    margin-bottom: 1em;
}

.mepr-nav-item {
    margin-right: 1em;
    padding: 0 0 .5em 0;
    display: inline-block;
}

.mepr-nav-item:hover,
.mepr-active-nav-tab {
    border-bottom: 10px solid #009dff;
}

.mepr-nav-item:hover a {
    text-decoration: none;
}

.mepr-price-box-button a,
.mepr-price-menu.minimal_horizontal .mepr-price-box-button a {
  font-family: 'AvantGardeGothicITCW02Bd';
    background: #fff;
    padding: .5em 1.2em;
    border-radius: 20px;
    font-size: .9em;
    color: #000;
    text-transform: uppercase;
    margin: auto;
    display: inline-block;
}

.mepr-price-box-button a:hover,
.mepr-price-menu.minimal_horizontal .mepr-price-box-button a:hover {
    text-decoration: none;
}

/*****************
COURSES
***********************************************/
.ld_course_grid .socialink-courses-modified a.btn-primary {
    color: white;
    text-transform: uppercase;
   font-family: 'AvantGardeGothicITCW02Bd';
    border-radius: 10px;
}
.socialink-courses-modified.learndash-complete a.btn-primary {
    background-color: #004bff;
    padding: 15px;
    border-radius: 100em;
}

.socialink-courses-modified.learndash-incomplete  a.btn-primary {
    background-color: #FF66FF;
        background: linear-gradient( 90deg, #ff15d8 0%, #004bff 100%);
        border-radius: 100em;
        border: none;
        padding: 15px;
}

.ld-course-list-items .ld_course_grid .thumbnail.course.socialink-courses-modified {
    display: flex;
    flex-direction: column;
    min-height: 400px;
}

.socialink-courses-modified .entry-title {
    margin: 2em .5em;
    font-weight: inherit;
    font-size: 1.2em;
}

.ld-course-list-items .ld_course_grid .thumbnail.course.socialink-courses-modified .ld_course_grid_price {
    text-transform: uppercase;
    font-size: .7em;
}

.ld-course-list-items .ld_course_grid .thumbnail.course.socialink-courses-modified.learndash-complete .ld_course_grid_price {
    background-color: #004bff;
}

.ld-course-list-items .ld_course_grid .thumbnail.course.socialink-courses-modified.learndash-incomplete .ld_course_grid_price {

}

.ld-course-list-items .ld_course_grid .thumbnail.socialink-courses-modified .caption {
    padding: 16px;
    color: #333;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    font-size: .8em;
}

.ld-course-list-items .ld_course_grid .thumbnail.socialink-courses-modified .caption p {
    margin-top: auto !important;
    max-width: 100%;
}

/*****************
PLANS AND PRICING
***********************************************/

.group-plans-embed {
    max-width: 800px;
    margin: auto;
}

.socialink-modified .mepr-price-boxes {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.socialink-modified.mepr-price-menu {
    margin: 3em 0;
}


.mepr-price-menu.minimal_horizontal .mepr-price-boxes.mepr-2-col .mepr-price-box,
.socialink-modified .mepr-price-menu.minimal_horizontal .mepr-price-boxes .mepr-price-box,
.socialink-modified .mepr-price-box {
    margin-right: 1em;
    border-radius: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: #fff;
    width: 30%;
    min-height: 300px;
}

.socialink-modified .mepr-price-box-foot {
    margin-top: auto;
}
.socialink-modified .mepr-price-menu.minimal_horizontal .mepr-price-box-button {
    margin: 0;
}
.socialink-modified .mepr-price-menu.minimal_horizontal .mepr-price-box-footer {
    margin: 0;
}

.socialink-modified .mepr-price-menu.minimal_horizontal {
    margin: 2em auto;
}

.mepr-price-menu.minimal_horizontal .mepr-price-box {
    text-align: left;
}

.pricebox-header h2,
.mepr-price-menu.minimal_horizontal .mepr-price-box-title {
    font-size: 1.2em;
    font-family: 'AvantGardeGothicITCW02Bd';
    margin-top: 0;
    color: #fff;
    font-family:inherit;
    margin-bottom: 1em;
}

.pricebox-header h3,
.mepr-price-menu.minimal_horizontal .mepr-price-box-price {
   font-family: 'AvantGardeGothicITCW02Bd';
    font-size: .9em;
    border-bottom: 3px solid #fff;
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.mepr-price-menu.minimal_horizontal.minimal_gray_horizontal .mepr-price-box .mepr-price-box-benefits .mepr-price-box-benefits-list .mepr-price-box-benefits-item {
    border-bottom: 0;
    font-size: .9em;
    font-weight: normal;
}

.mepr-price-box.socialink-extra ul li {
    list-style: inside none;
    margin-left: 0;
    margin-bottom: .25em;
    font-size: .9em;
}

/*****************
FOOTER
***********************************************/

.footerlogo {
    background-image: url(images/logo_full.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: left bottom;
    display: block;
    height: 130px;
    position: absolute;
    bottom: 0;
    width: 33%;
    display: none;
}

.subfooter {
    background-image: url(images/bg_footer.png);
    height: 428px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    float: right;
    margin-top: calc(-1 * (100vw / 6));
    padding: 50px 50px 145px 40%;
    padding: 50px 50px 52px 35%;
    background-position: right;
}

.carousel-container {
    position: relative;
    color: #fff;
    margin-top: 8em;
}

.carousel-container .body {
    font-style: italic;
}

.carousel-container .body p:last-child {
    margin-bottom: 0;
}

.carousel-container .fld-name p {
    text-align: right;
    margin-bottom: .25em;
}

.carousel-container .fld-subtitle__role p {
    text-align: right;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'AvantGardeGothicITCW02Bd';
}

.carousel-container .slideshow_area {
    position: absolute;
    left: 10%;
    width: 80%;
}

.carousel-container .slide_nav {
    top: 10px;
}

.carousel-container svg {
    fill: #fff;
}

#footer {
	clear: both;
	margin-top: 300px;
	margin-top: 0;
	padding-top: 2em;
	position: relative;
	overflow: inherit;
	background-size: 40%;
	background-repeat: no-repeat;
	background-position: right bottom;
	background-image: url(images/footer_brain.png);
	background-color: #9ef3c7;
    top: auto;
}

			@media(max-width: 1340px) {
				#footer {
					background-size: 35%;
				}
			}

.footer_inner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.userfunctions-footer {
    margin-right: 2em;
}


.userfunctions-footer>.flexible {
    align-items: center;
    font-family: 'AvantGardeGothicITCW02Bd';
}

.userfunctions-footer a.button {
    margin-left: 1em;
}

.footermenu {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 4em;
  font-family: 'AvantGardeGothicITCW02Bd';
    font-size: .8em;
    align-items: center;
    padding-right: 2em;
    position: absolute;
    bottom: 1em;
}

.footercredits {}

.footercredits a {}

.sitecredits {
    margin-left: 2em;
}

.sitecredits p {
    margin-bottom: 0;
}

.sitecredits a {}

.sinkcredits {
    display: none;
}

.sinkcredits p {
    margin-bottom: 0;
}

.sinkcredits a {}


/*****************
RELATED
***********************************************/

.related_content {
    text-align: center;
    margin: 2em 0;
}

.related_content .field_divlist {
    display: -ms-flexbox;
    display: flex;
    margin: 2em 0;
}

.related_content .field_divlist>div {
    background: #ccc none repeat scroll 0 0;
    border-right: 1px solid #fff;
    height: 250px;
    min-width: 25%;
    padding: 1em 2%;
}

.metadatum {
    margin-bottom: 2em;
}

.metadatum .meta_item {
    margin-bottom: 1em;
}

.metadatum .meta_item .lbl {}

.metadatum .meta_item .val {}


/*****************
ARCHIVE
***********************************************/

article.archive_post {
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-bottom: 1em;
    padding-bottom: 1em;
    flex-wrap: wrap;
}

aside.readmore {
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.archive_post.griditem {
    flex-direction: column;
    width: 30%;
    margin-right: 1%;
}

.archive_post.griditem h2 {
    margin-top: 1em;
    background: none;
}

article.archive_post.archivepost_last {
    border-bottom: 0;
}

.archive_post .featimg {
    margin-right: 1em;
    width: 100%;
    flex-shrink: 0;
}

.module-addcontent .archive_post .featimg {
    margin-right: 1em;
    width: 100%;
    background: #fff;
    padding: 1em;
    display: flex;
    min-height: 350px;
    align-items: center;
}

.archive .archive_post .featimg {
        width: 150px;
}
.archive_post.thumb_exists .mainpost {
    width: calc(100% - 170px);
}

article.archive_post h2 {
    font-size: 1.2em;
    margin-bottom: .2em;
}

article.archive_post p.post_header_meta {
    font-size: 90%;
}

article.archive_post .post_meta {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
    font-size: 90%;
}

.module-addcontent .module_inner {
    display: flex;
    justify-content: center;
}

article.archive_post a.readmore {
    font-size: 90%;
    text-transform: uppercase;
}

article.archive_post a.readmore:after {
    content: '>';
    padding-left: 2px;
}

.relatedposts {
    clear: both;
    border-top: 1px solid #9ef3c7;
    padding-top: 1em;
    font-size: 1.5em;
    text-transform: uppercase;
}

.relatedposts ul {
    display: flex;
    margin: 0;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.relatedposts li {
    list-style: none outside none !important;
}

.relatedposts .prev {
    margin-right: auto;
}

.relatedposts .next {
    margin-left: auto;
}

.single_relatedposts {}

.archive_relatedposts {}

p.readmore {
    margin-bottom: 0;
}


/* tweaners responsive queries *****************************************************/

@media (min-width: 768px) and (max-width: 1366px) { 

    .logo {
        max-width: 200px;
        margin-top: 19px;
    }

    ul.menu-logged-out {
        font-size: 1.2vw;
        margin-top: -55px;
    }

    .topmenu {
           font-size: 1.2vw;
        /*    margin-top: 44px; */
    }
    

}


@media (min-width: 768px) and (max-width: 1040px) { /* tweaners */
    .topmenu {
           font-size: 1.2vw;
        /*    margin-top: 44px; */
    }

    .content {
        padding-left: 1em;
        padding-right: 1em;
    }

    .header-image-text {
        padding: 2em;
    }

    .subfooter {
        margin-top: calc(-1 * (100vw / 4.5));
    }

    .carousel-container {
        margin-top: 10em;
        font-size: .8em;
    }

    .userfunctions-header {

    }

    ul.menu-logged-out {
        font-size: 1.2vw;
        margin-top: -53px;
    }

    .logo {
        max-width: 140px;
        margin-top: 37px;
    }

    .logged-in-user-0 .userfunctions-header {
        margin-top: 82px;
        margin-left: 14px;
    }


} 


@media (min-width: 768px) and (max-width: 830px) {
    .subfooter {
        margin-top: calc(-1 * (100vw / 3.5));
    }

    .logo {
        max-width: 140px;
        margin-top: 37px;

    }

    .logged-in-user-0 .userfunctions-header {
        margin-top: 82px;
        margin-left: 14px;
    }
} 

@media (min-width: 1600px) {
    .userfunctions-footer {
     
        margin-top: 2em;
    }
}

    /* end tweaners please put desktop css above this section* *****************************************************/