// import variables
	@import "variables/normalize";
	@import "variables/colors";
	@import "variables/variables";	
	@import "variables/typography";
	@import "variables/mixins";
	@import "variables/functions";

// import modules
	@import "modules/buttons";
	@import "modules/forms";
	@import "modules/alerts";
	@import "modules/cards";


// import breakpoints
	
	// base styles
		@import "breakpoints/styleguide";
		@import "breakpoints/wpbasic";
		@import "breakpoints/base";
		@import "breakpoints/responsive_768max.scss";

	// 768 styles
		@media screen and (min-width: 768px) {
			@import "breakpoints/768";	
		}
	
	// 1500 styles
		@media screen and (min-width: 1500px) {
			@import "breakpoints/1500";	
		}

	// Print styles
		@media print {
			@import "breakpoints/print";
		}