/**
 * @license
 * MyFonts Webfont Build ID 4002406, 2021-01-26T12:47:05-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: ITCAvantGardePro-XLt by ITC
 * URL: https://www.myfonts.com/fonts/itc/avant-garde-gothic/pro-extra-light/
 * Copyright: Copyright &amp;#x00A9; 2015 Monotype ITC Inc. All rights reserved.
 * 
 * 
 * 
 * © 2021 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3d1266");
  
@font-face { /* ultra light */
  font-family: 'ITCAvantGardePro-XLt';
  src: url('#{$font-path}mywebfonts/webFonts/ITCAvantGardePro-XLt/font.woff2') format('woff2'), url('#{$font-path}mywebfonts/webFonts/ITCAvantGardePro-XLt/font.woff') format('woff');
}

@font-face { // medium
	font-family: 'AvantGardeGothicITCW01Md';
	src: url('#{$font-path}mywebfonts/webFonts/AvantGardeGothicITCW01Md/font.woff2') format('woff2'), url('#{$font-path}mywebfonts/webFonts/AvantGardeGothicITCW01Md/font.woff') format('woff');
}

@font-face { // bold
	font-family: 'AvantGardeGothicITCW02Bd';
	src: url('#{$font-path}mywebfonts/webFonts/AvantGardeGothicITCW02Bd/font.woff2') format('woff2'), url('#{$font-path}mywebfonts/webFonts/AvantGardeGothicITCW02Bd/font.woff') format('woff');
}

@font-face { //demi -- too bold
	font-family: 'ITCAvantGardeW04Demi';
	src: url('#{$font-path}mywebfonts/webFonts/ITCAvantGardeW04Demi/font.woff2') format('woff2'), url('#{$font-path}mywebfonts/webFonts/ITCAvantGardeW04Demi/font.woff') format('woff');
}

@font-face { //problack
	font-family: 'ITCAvantGardeProBk';
	src: url('#{$font-path}mywebfonts/webFonts/ITCAvantGardeProBk/font.woff2') format('woff2'), url('#{$font-path}mywebfonts/webFonts/ITCAvantGardeProBk/font.woff') format('woff');
}

@font-face { //blkObl
	font-family: 'ITCAvantGardeW04BkObl';
	src: url('#{$font-path}mywebfonts/webFonts/ITCAvantGardeW04BkObl/font.woff2') format('woff2'), url('#{$font-path}mywebfonts/webFonts/ITCAvantGardeW04BkObl/font.woff') format('woff');
}


@font-face { // bold
    font-family: 'AvantGarde_bold';
    src: url('#{$font-path}ITCAvantGardeStd-Bold.woff2') format('woff2'),
        url('#{$font-path}ITCAvantGardeStd-Bold.woff') format('woff'),
        url('#{$font-path}ITCAvantGardeStd-Bold.ttf') format('truetype'),
        url('#{$font-path}ITCAvantGardeStd-Bold.svg#ITCAvantGardeStd-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face { // bold oblique
    font-family: 'AvantGarde_boldItal';
    src: url('#{$font-path}ITCAvantGardeStd-BoldObl.woff2') format('woff2'),
        url('#{$font-path}ITCAvantGardeStd-BoldObl.woff') format('woff'),
        url('#{$font-path}ITCAvantGardeStd-BoldObl.ttf') format('truetype'),
        url('#{$font-path}ITCAvantGardeStd-BoldObl.svg#ITCAvantGardeStd-BoldObl') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face { // demi
    font-family: 'AvantGarde_demi';
    src: url('#{$font-path}ITCAvantGardeStd-Demi.woff2') format('woff2'),
        url('#{$font-path}ITCAvantGardeStd-Demi.woff') format('woff'),
        url('#{$font-path}ITCAvantGardeStd-Demi.ttf') format('truetype'),
        url('#{$font-path}ITCAvantGardeStd-Demi.svg#ITCAvantGardeStd-Demi') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face { // demi ital
    font-family: 'AvantGarde_demiItal';
    src: url('#{$font-path}ITCAvantGardeStd-DemiObl.woff2') format('woff2'),
        url('#{$font-path}ITCAvantGardeStd-DemiObl.woff') format('woff'),
        url('#{$font-path}ITCAvantGardeStd-DemiObl.ttf') format('truetype'),
        url('#{$font-path}ITCAvantGardeStd-DemiObl.svg#ITCAvantGardeStd-DemiObl') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face { // med
    font-family: 'AvantGarde_med';
    src: url('#{$font-path}ITCAvantGardeStd-Md.woff2') format('woff2'),
        url('#{$font-path}ITCAvantGardeStd-Md.woff') format('woff'),
        url('#{$font-path}ITCAvantGardeStd-Md.ttf') format('truetype'),
        url('#{$font-path}ITCAvantGardeStd-Md.svg#ITCAvantGardeStd-Md') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face { // med obliq
    font-family: 'AvantGarde_medItal';
    src: url('#{$font-path}ITCAvantGardeStd-MdObl.woff2') format('woff2'),
        url('#{$font-path}ITCAvantGardeStd-MdObl.woff') format('woff'),
        url('#{$font-path}ITCAvantGardeStd-MdObl.ttf') format('truetype'),
        url('#{$font-path}ITCAvantGardeStd-MdObl.svg#ITCAvantGardeStd-MdObl') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face { // book
    font-family: 'AvantGarde_book';
    src: url('#{$font-path}ITCAvantGardeStd-Bk.woff2') format('woff2'),
        url('#{$font-path}ITCAvantGardeStd-Bk.woff') format('woff'),
        url('#{$font-path}ITCAvantGardeStd-Bk.ttf') format('truetype'),
        url('#{$font-path}ITCAvantGardeStd-Bk.svg#ITCAvantGardeStd-Bk') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face { // book ital
    font-family: 'AvantGarde_bookItal';
    src: url('#{$font-path}ITCAvantGardeStd-BkObl.woff2') format('woff2'),
        url('#{$font-path}ITCAvantGardeStd-BkObl.woff') format('woff'),
        url('#{$font-path}ITCAvantGardeStd-BkObl.ttf') format('truetype'),
        url('#{$font-path}ITCAvantGardeStd-BkObl.svg#ITCAvantGardeStd-BkObl') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}



// Fonts from original
	$sans: 				'AvantGarde_med', helvetica, sans-serif;
	$sans-bold:		'AvantGarde_bold', helvetica, sans-serif;
	$sans-book:		'AvantGarde_book', helvetica, sans-serif;
	$sans-demi:		'AvantGarde_demi', helvetica, sans-serif;

	$font-primary: $sans;
	$font-secondary: $sans-bold;

	$sans-boldItal: 'AvantGarde_boldItal', helvetica, sans-serif;
	$sans-ital:			'AvantGarde_medItal', helvetica, sans-serif;
	$sans-bookItal: 'AvantGarde_bookItal', helvetica, sans-serif;
	$sans-demiItal: 'AvantGarde_demiItal', helvetica, sans-serif;


	$sans-xlt:		'ITCAvantGardePro-XLt', helvetica, sans-serif;
	// $sans-demi:		'ITCAvantGardeW04Demi', helvetica, sans-serif;
	$sans-black:	'ITCAvantGardeProBk', helvetica, sans-serif;
	// $sans-ital:		'ITCAvantGardeW04BkObl', helvetica, sans-serif;

	$helvetica:		helvetica, sans-serif;


// UI Icon variables
	// 30px
	$icon-FB-30x30: "\e921";
	$icon-Insta-30x30: "\e922";
	$icon-LinkedIn-30x30: "\e923";
	$icon-Twitter-30x30: "\e924";

	// 34px
	$icon-remove-34x34: "\e919";

	// 44px
	$icon-endquote: "\e925";
	$icon-openquote: "\e926";
	$icon-left-arrow-44x44: "\e91b";
	$icon-right-arrow-44x44: "\e91c";

	// 46px
	$icon-menu-46x46: "\e908";
	$icon-close-menu-46x46: "\e909";

	// 50px
	$icon-video-50x50: "\e91d";

	// 60px
	$icon-bear-60x60: "\e900";
	$icon-brain-60x60: "\e901";
	$icon-chat-60x60: "\e902";
	$icon-heart-60x60: "\e903";
	$icon-smiley-60x60: "\e904";
	$icon-spark-60x60: "\e905";
	$icon-video-60x60: "\e906";
	$icon-video-hover-60x60: "\e907";
	
	// 82px
	$icon-apple-82x82: "\e90a";
	$icon-books-82x82: "\e90b";
	$icon-checklist-82x82: "\e90c";
	$icon-braingears-82x82: "\e90d";
	$icon-children-82x82: "\e90e";
	$icon-lotus-82x82: "\e90f";
	$icon-network-82x82: "\e910";
	$icon-hybridtraining-82x82: "\e911";
	$icon-virtualtraining-82x82: "\e912";
	$icon-notebook-82x82: "\e913";
	$icon-onlineplatform-82x82: "\e914";
	$icon-pin-82x82: "\e915";
	$icon-scholarship-82x82: "\e916";
	$icon-school-82x82: "\e917";
	$icon-world-82x82: "\e918";
	$icon-mail-82x82: "\e927";
	
	// 88px	
	$icon-neuroscience-88x88: "\e91e";
	$icon-positivepsych-88x88: "\e91a";
	$icon-socialemolearning-88x88: "\e91f";
	$icon-mindfulawareness-88x88: "\e920";
	
	
// UI Icon font face
	@font-face {
	  font-family: '#{$icomoon-font-family}';
	  src:
	    url('#{$font-path}#{$icomoon-font-family}.ttf?laah6p') format('truetype'),
	    url('#{$font-path}#{$icomoon-font-family}.woff?laah6p') format('woff'),
	    url('#{$font-path}#{$icomoon-font-family}.svg?laah6p##{$icomoon-font-family}') format('svg');
	  font-weight: normal;
	  font-style: normal;
	  font-display: block;
	}

	[class^="icon-"], [class*=" icon-"] {
	  /* use !important to prevent issues with browser extensions that change fonts */
	  font-family: '#{$icomoon-font-family}' !important;
	  speak: never;
	  font-style: normal;
	  font-weight: normal;
	  font-variant: normal;
	  text-transform: none;
	  line-height: 1;

	  /* Better Font Rendering =========== */
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}

// UI Icons
	// 30px	
		.icon-FB-30x30 { &:before { content: $icon-FB-30x30; } }
		.icon-Insta-30x30 { &:before { content: $icon-Insta-30x30; } }
		.icon-LinkedIn-30x30 { &:before { content: $icon-LinkedIn-30x30; } }
		.icon-Twitter-30x30 { &:before { content: $icon-Twitter-30x30; } }

		.icon-FB-30x30, .icon-Insta-30x30,
		.icon-LinkedIn-30x30, .icon-Twitter-30x30 { font-size: rem(30); } 

	// 34px
		.icon-remove-34x34 { &:before { content: $icon-remove-34x34; } }

		.icon-remove-34x34 { font-size: rem(34); }

	// 44px
		.icon-endquote { &:before { content: $icon-endquote; } }
		.icon-openquote { &:before { content: $icon-openquote; } }
		.icon-left-arrow-44x44 { &:before { content: $icon-left-arrow-44x44; } }
		.icon-right-arrow-44x44 { &:before { content: $icon-right-arrow-44x44; } }

		.icon-endquote, .icon-openquote { font-size: rem(26); }
		.icon-left-arrow-44x44, .icon-right-arrow-44x44 { font-size: rem(44); }

	// 46px
		.icon-menu-46x46 { &:before { content: $icon-menu-46x46; } }
		.icon-close-menu-46x46 { &:before { content: $icon-close-menu-46x46; } }

		.icon-menu-46x46, .icon-close-menu-46x46 { font-size: rem(46); }

	// 50px
		.icon-video-50x50 { &:before { content: $icon-video-50x50; } }
		.icon-video-50x50 { font-size: rem(50); color: $magenta; }

	// 60px
		.icon-bear-60x60 { &:before { content: $icon-bear-60x60; } }
		.icon-brain-60x60 { &:before { content: $icon-brain-60x60; } }
		.icon-chat-60x60 { &:before { content: $icon-chat-60x60; } }
		.icon-heart-60x60 { &:before { content: $icon-heart-60x60; } }
		.icon-smiley-60x60 { &:before { content: $icon-smiley-60x60; } }
		.icon-spark-60x60 { &:before { content: $icon-spark-60x60; } }
		.icon-video-60x60 { &:before { content: $icon-video-60x60; } }
		.icon-video-hover-60x60 { &:before { content: $icon-video-hover-60x60; } }

		.icon-bear-60x60, .icon-brain-60x60, 
		.icon-chat-60x60, .icon-heart-60x60,
		.icon-smiley-60x60, .icon-spark-60x60,
		.icon-video-60x60, .icon-video-hover-60x60 { font-size: rem(60); color: $magenta; }

	// 82px
		.icon-apple-82x82 { &:before { content: $icon-apple-82x82; } }
		.icon-books-82x82 { &:before { content: $icon-books-82x82; } }
		.icon-checklist-82x82 { &:before { content: $icon-checklist-82x82; } }
		.icon-braingears-82x82 { &:before { content: $icon-braingears-82x82; } }
		.icon-children-82x82 { &:before { content: $icon-children-82x82; } }
		.icon-lotus-82x82 { &:before { content: $icon-lotus-82x82; } }
		.icon-network-82x82 { &:before { content: $icon-network-82x82; } }
		.icon-hybridtraining-82x82 { &:before { content: $icon-hybridtraining-82x82; } }
		.icon-virtualtraining-82x82 { &:before { content: $icon-virtualtraining-82x82; } }
		.icon-notebook-82x82 { &:before { content: $icon-notebook-82x82; } }
		.icon-onlineplatform-82x82 { &:before { content: $icon-onlineplatform-82x82; } }
		.icon-pin-82x82 { &:before { content: $icon-pin-82x82; } }
		.icon-scholarship-82x82 { &:before { content: $icon-scholarship-82x82; } }
		.icon-school-82x82 { &:before { content: $icon-school-82x82; } }
		.icon-world-82x82 { &:before { content: $icon-world-82x82; } }
		.icon-mail-82x82 { &:before { content: $icon-mail-82x82; } }
		
		.icon-apple-82x82, .icon-books-82x82, 
		.icon-checklist-82x82, .icon-braingears-82x82, 
		.icon-children-82x82, .icon-lotus-82x82, 
		.icon-network-82x82, .icon-hybridtraining-82x82, 
		.icon-virtualtraining-82x82, .icon-notebook-82x82, 
		.icon-onlineplatform-82x82, .icon-pin-82x82, 
		.icon-scholarship-82x82, .icon-school-82x82, 
		.icon-world-82x82, .icon-mail-82x82 { font-size: rem(82); }

		.icon-checklist-82x82, .icon-children-82x82,
		.icon-lotus-82x82, .icon-notebook-82x82,
		.icon-school-82x82, .icon-world-82x82, .icon-apple-82x82 { color: $teal; }

		.icon-hybridtraining-82x82,
		.icon-virtualtraining-82x82,
		.icon-onlineplatform-82x82 { color: $white; }

	// 88px
		.icon-neuroscience-88x88 { &:before { content: $icon-neuroscience-88x88; } }
		.icon-positivepsych-88x88 { &:before { content: $icon-positivepsych-88x88; } }
		.icon-socialemolearning-88x88 { &:before { content: $icon-socialemolearning-88x88; } }
		.icon-mindfulawareness-88x88 { &:before { content: $icon-mindfulawareness-88x88; } }
		
		.icon-neuroscience-88x88, .icon-positivepsych-88x88,
		.icon-socialemolearning-88x88, .icon-mindfulawareness-88x88  { font-size: rem(120); }
	

	