body {
	background-color: #9ef3c7 !important;
	font-family: ITC Avant Garde Gothic, Helvetica, Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat !important;
	background-position: right bottom !important;
	background-image: url(../../images/footer_brain.png) !important;
	background-color: #9ef3c7 !important;
	background-size: 70% !important;

}

body #login {
	padding:  0;

}

#login_error, .login .message, #loginform {
    margin-bottom: 20px;
    border: 0;
}
html body.wp-core-ui .button-primary {
	border: 0 none;
	color: #fff;
	display: inline-block;
	padding: 0.5em 1.75em;
	border-radius: 40px;
	background: linear-gradient(90deg, rgba(255, 21, 216, 1) 0%, rgba(0, 75, 255, 1) 100%);

}


html body.wp-core-ui .button-primary:hover {
	background-color:  rgba(255, 21, 216, 1);
	transition: all .2s ease;
}

.login label {
	font-size: 12px;
width: 100%;
text-align: center;
}

.login form .input {
	margin-top: 10px;
}

#loginform {
	padding: 30px;
}

.socialink-overwrite {
	display: none;
}

.login h1 {
 
    margin-top: -100px;
}

#login form p.forgetmenot {
	    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.login #nav,
.privacy-policy-link  {
    margin: 24px 0 0 0;
    background: #fff;
    padding: 10px;
}

.login #backtoblog {
	display: none;
}