/*********************
BUTTON DEFAULTS
*********************/

%button {
		position: relative;
		display: inline-block;
		margin: 0.25rem rem(17);
		padding: rem(8) rem(27) rem(10) rem(27);
		border: 0;
		border-radius: rem(20);
		text-decoration: none;
		font-family: $font-secondary;
		font-size: rem(16);
		line-height: rem(18);
		// letter-spacing: rem(2);
		// text-transform: uppercase;
		@include transition(all 0.3s ease-in-out);
		&:hover, &:focus {text-decoration: none;}
		&:active {
				text-decoration: none;
				// top: 1px; // adds a tiny hop to the click
		}
		&:disabled {
				&:hover, &:focus {
						cursor: not-allowed;
				}
		}
} // end .button

.button {
		@extend %button;
}

%btn-grad-1 {
		@extend %button;
		@include css-gradient($color-stop-1,$color-stop-4);
		color: $white !important;
		z-index: 1;

		// &:hover, &:focus {
		//     background: $color-primary ;
		//     color: $white !important;
		// }

		// &:disabled {
		//     color: $white !important;
		//     background-color: $greyLt;

		//     &:hover, &:focus, &:active {
		//         color: $white !important;
		//         background-color: $greyLt;
		//     }
		// }

		&:before {
				position: absolute;
				background: $color-primary;
				content: "";
				top: 0;
				right: 0;
				bottom: 0;
				border-radius: rem(20);
				left: 0;
				z-index: -1;
				transition: opacity 0.5s linear;
				opacity: 0;
		}
		&:hover:before {
				opacity: 1;
		}

}

%btn-grad-2 {
		@extend %button;
		@include css-gradient($mint,$color-stop-4);
		color: $white !important;

		&:hover, &:focus {
				background: $mint;
				color: $white !important;
		}

		&:disabled {
				color: $white !important;
				background-color: $greyLt;

				&:hover, &:focus, &:active {
						color: $white !important;
						background-color: $greyLt;
				}
		}
}

%btn-white {
		@extend %button;
		background: $white;
		color: $blackLt !important;

		&:hover, &:focus {
				background: $white;
				color: $color-primary !important;
		}

		&:disabled {
				color: white(0.7) !important;
				background-color: white(0.2);

				&:hover, &:focus, &:active {
						color: white(0.7) !important;
						background-color: white(0.2);
				}
		}
}

.btn-grad-1 {
		@extend %btn-grad-1;

		&.btn-small {
			font-size: rem(14);
			line-height: rem(17);
		}
}

.btn-grad-2 {
		@extend %btn-grad-2; 

		&.btn-small {
			font-size: rem(14);
			line-height: rem(17);
		}
}

.btn-white {
		@extend %btn-white; 

		&.btn-small {
			font-size: rem(14);
			line-height: rem(17);
		}
}

// gradient border button version 2
	.btn-grad-border {
		margin: 0.25rem rem(17);
		padding: 2px;
		border-radius: rem(20);
		border: 0 none;
		@include css-gradient($color-stop-1,$color-stop-4);

		// &:before {
		// 		position: absolute;
		// 		background: $color-primary;
		// 		content: "";
		// 		top: 0;
		// 		right: 0;
		// 		bottom: 0;
		// 		border-radius: rem(20);
		// 		left: 0;
		// 		z-index: -1;
		// 		transition: opacity 0.5s linear;
		// 		opacity: 0;
		// }
		// &:hover:before {
		// 		opacity: 1;
		// }

		.grad-inside {
			
			text-decoration: none;
			font-family: $font-secondary;
			font-size: rem(14);
			line-height: rem(17);
			border-radius: rem(20);
			padding: rem(5) rem(27) rem(7) rem(27);
			@include transition(all 0.3s ease-in-out);
		
			&.white { background-color: $white; }
			&.mint { background-color: $mint; }

		}

		&:hover { .grad-inside { color: $magenta }  }


	}